/bootstrap/compiled.php
/vendor
/app/tests/ui/screenshots
/public/packages
composer.lock
.env.local.php
.env.local_linux_mint.php
.env.php
.DS_Store
Thumbs.db
.idea
/node_modules
/bower_components
config/deploy/production.rb