/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
*.env
!.travis.env
/bootstrap/compiled.php
/public/packages
.DS_Store
Thumbs.db
.idea
/node_modules
/bower_components
config/deploy/production.rb
composer.lock
app/storage/logs/*
/storage
/public/bookImages/*
/public/authorImages/*
