.wizard-step-content {
  position: relative;
  display: block;
  padding: 10px 15px;
  background-color: #eee;
}
.wizard-step-current {
  color: #fff;
  background-color: #2d6ca2;
}
.wizard-step-before {
  color: #fff;
  background-color: #5cb85c;
}
.wizard-step-progress {
  color: #fff;
  background-color: #c9302c;
}
.nav-pills.nav-wizard > li .nav-arrow.nav-arrow-current {
  border-color: transparent transparent transparent #2d6ca2;
}
.nav-pills.nav-wizard > li .nav-wedge.nav-wedge-current {
  border-color: #2d6ca2 #2d6ca2 #2d6ca2 transparent;
}
.nav-pills.nav-wizard > li .nav-arrow.nav-arrow-before {
  border-color: transparent transparent transparent #5cb85c;
}
.nav-pills.nav-wizard > li .nav-wedge.nav-wedge-before {
  border-color: #5cb85c #5cb85c #5cb85c transparent;
}
.nav-pills.nav-wizard > li .nav-arrow.nav-arrow-progress {
  border-color: transparent transparent transparent #c9302c;
}
.nav-pills.nav-wizard > li .nav-wedge.nav-wedge-progress {
  border-color: #c9302c #c9302c #c9302c transparent;
}
.nav-wizard {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.wizard-steps {
  text-align: center;
  width: 840px;
  margin: 30px auto;
}
