.sprite { width: 142px; height: 227px; background-image: url(sprite.png); text-align:center; }
.sprite0 { background-position: -0px -0px; }
.sprite203 { background-position: -0px -203px; }
.sprite404 { background-position: -0px -404px; }
.sprite609 { background-position: -0px -609px; }
.sprite812 { background-position: -0px -812px; }
.sprite1013 { background-position: -0px -1013px; }
.sprite1231 { background-position: -0px -1231px; }
.sprite1454 { background-position: -0px -1454px; }
.sprite1669 { background-position: -0px -1669px; }
.sprite1891 { background-position: -0px -1891px; }
.sprite2103 { background-position: -0px -2103px; }
.sprite2333 { background-position: -0px -2333px; }
.sprite2541 { background-position: -0px -2541px; }
.sprite2755 { background-position: -0px -2755px; }
.sprite2959 { background-position: -0px -2959px; }
.sprite3196 { background-position: -0px -3196px; }
.sprite3422 { background-position: -0px -3422px; }
.sprite3649 { background-position: -0px -3649px; }
.sprite3864 { background-position: -0px -3864px; }
.sprite4081 { background-position: -0px -4081px; }
.sprite4298 { background-position: -0px -4298px; }
.sprite4527 { background-position: -0px -4527px; }
.sprite4751 { background-position: -0px -4751px; }
.sprite4978 { background-position: -0px -4978px; }
.sprite5213 { background-position: -0px -5213px; }
.sprite5402 { background-position: -0px -5402px; }
.sprite5628 { background-position: -0px -5628px; }
.sprite5851 { background-position: -0px -5851px; }
.sprite5945 { background-position: -0px -5945px; }
.sprite6087 { background-position: -0px -6087px; }
.sprite6303 { background-position: -0px -6303px; }
.sprite6513 { background-position: -0px -6513px; }
.sprite6726 { background-position: -0px -6726px; }
.sprite6904 { background-position: -0px -6904px; }
.sprite7107 { background-position: -0px -7107px; }
.sprite7214 { background-position: -0px -7214px; }
.sprite7402 { background-position: -0px -7402px; }
.sprite7618 { background-position: -0px -7618px; }
.sprite7847 { background-position: -0px -7847px; }
.sprite8047 { background-position: -0px -8047px; }
.sprite8267 { background-position: -0px -8267px; }
.sprite8495 { background-position: -0px -8495px; }
.sprite8723 { background-position: -0px -8723px; }
.sprite8941 { background-position: -0px -8941px; }
.sprite9171 { background-position: -0px -9171px; }
.sprite9381 { background-position: -0px -9381px; }
.sprite9599 { background-position: -0px -9599px; }
.sprite9854 { background-position: -0px -9854px; }
.sprite10094 { background-position: -0px -10094px; }
.sprite10310 { background-position: -0px -10310px; }
.sprite10542 { background-position: -0px -10542px; }
.sprite10776 { background-position: -0px -10776px; }
.sprite10995 { background-position: -0px -10995px; }
.sprite11213 { background-position: -0px -11213px; }
.sprite11433 { background-position: -0px -11433px; }
.sprite11586 { background-position: -0px -11586px; }
.sprite11729 { background-position: -0px -11729px; }
.sprite11957 { background-position: -0px -11957px; }
.sprite12186 { background-position: -0px -12186px; }
.sprite12417 { background-position: -0px -12417px; }
.sprite12649 { background-position: -0px -12649px; }
.sprite12882 { background-position: -0px -12882px; }
.sprite13024 { background-position: -0px -13024px; }
.sprite13240 { background-position: -0px -13240px; }
.sprite13458 { background-position: -0px -13458px; }
.sprite13672 { background-position: -0px -13672px; }
.sprite13889 { background-position: -0px -13889px; }
.sprite14070 { background-position: -0px -14070px; }
.sprite14150 { background-position: -0px -14150px; }
.sprite14255 { background-position: -0px -14255px; }
.sprite14443 { background-position: -0px -14443px; }
.sprite14638 { background-position: -0px -14638px; }
.sprite14854 { background-position: -0px -14854px; }
.sprite14987 { background-position: -0px -14987px; }
.sprite15203 { background-position: -0px -15203px; }
.sprite15391 { background-position: -0px -15391px; }
.sprite15571 { background-position: -0px -15571px; }
.sprite15799 { background-position: -0px -15799px; }
.sprite16014 { background-position: -0px -16014px; }
.sprite16235 { background-position: -0px -16235px; }
.sprite16359 { background-position: -0px -16359px; }
.sprite16548 { background-position: -0px -16548px; }
.sprite16794 { background-position: -0px -16794px; }
.sprite16885 { background-position: -0px -16885px; }
.sprite17106 { background-position: -0px -17106px; }
.sprite17326 { background-position: -0px -17326px; }
.sprite17468 { background-position: -0px -17468px; }
.sprite17686 { background-position: -0px -17686px; }
.sprite17905 { background-position: -0px -17905px; }
.sprite18123 { background-position: -0px -18123px; }
.sprite18341 { background-position: -0px -18341px; }
.sprite18569 { background-position: -0px -18569px; }
.sprite18791 { background-position: -0px -18791px; }
.sprite18980 { background-position: -0px -18980px; }
.sprite19195 { background-position: -0px -19195px; }
.sprite19411 { background-position: -0px -19411px; }
.sprite19635 { background-position: -0px -19635px; }
.sprite19742 { background-position: -0px -19742px; }
.sprite19943 { background-position: -0px -19943px; }
.sprite20039 { background-position: -0px -20039px; }
.sprite20261 { background-position: -0px -20261px; }
.sprite20476 { background-position: -0px -20476px; }
.sprite20591 { background-position: -0px -20591px; }
.sprite20822 { background-position: -0px -20822px; }
.sprite21053 { background-position: -0px -21053px; }
.sprite21267 { background-position: -0px -21267px; }
.sprite21352 { background-position: -0px -21352px; }
.sprite21569 { background-position: -0px -21569px; }
.sprite21762 { background-position: -0px -21762px; }
.sprite21904 { background-position: -0px -21904px; }
.sprite22117 { background-position: -0px -22117px; }
.sprite22221 { background-position: -0px -22221px; }
.sprite22413 { background-position: -0px -22413px; }
.sprite22510 { background-position: -0px -22510px; }
.sprite22747 { background-position: -0px -22747px; }
.sprite22977 { background-position: -0px -22977px; }
.sprite23220 { background-position: -0px -23220px; }
.sprite23398 { background-position: -0px -23398px; }
.sprite23624 { background-position: -0px -23624px; }
.sprite23813 { background-position: -0px -23813px; }
.sprite23997 { background-position: -0px -23997px; }
.sprite24175 { background-position: -0px -24175px; }
.sprite24393 { background-position: -0px -24393px; }
.sprite24611 { background-position: -0px -24611px; }
.sprite24834 { background-position: -0px -24834px; }
.sprite25017 { background-position: -0px -25017px; }
.sprite25230 { background-position: -0px -25230px; }
.sprite25448 { background-position: -0px -25448px; }
.sprite25659 { background-position: -0px -25659px; }
.sprite25889 { background-position: -0px -25889px; }
.sprite26031 { background-position: -0px -26031px; }
.sprite26249 { background-position: -0px -26249px; }
.sprite26476 { background-position: -0px -26476px; }
.sprite26693 { background-position: -0px -26693px; }
.sprite26793 { background-position: -0px -26793px; }
.sprite26925 { background-position: -0px -26925px; }
.sprite27153 { background-position: -0px -27153px; }
.sprite27330 { background-position: -0px -27330px; }
.sprite27544 { background-position: -0px -27544px; }
.sprite27771 { background-position: -0px -27771px; }
.sprite27992 { background-position: -0px -27992px; }
.sprite28206 { background-position: -0px -28206px; }
.sprite28348 { background-position: -0px -28348px; }
.sprite28562 { background-position: -0px -28562px; }
.sprite28785 { background-position: -0px -28785px; }
.sprite28880 { background-position: -0px -28880px; }
.sprite29030 { background-position: -0px -29030px; }
.sprite29198 { background-position: -0px -29198px; }
.sprite29396 { background-position: -0px -29396px; }
.sprite29609 { background-position: -0px -29609px; }
.sprite29839 { background-position: -0px -29839px; }
.sprite29937 { background-position: -0px -29937px; }
.sprite30162 { background-position: -0px -30162px; }
.sprite30286 { background-position: -0px -30286px; }
.sprite30428 { background-position: -0px -30428px; }
.sprite30652 { background-position: -0px -30652px; }
.sprite30894 { background-position: -0px -30894px; }
.sprite31109 { background-position: -0px -31109px; }
.sprite31251 { background-position: -0px -31251px; }
.sprite31468 { background-position: -0px -31468px; }
.sprite31685 { background-position: -0px -31685px; }
.sprite31924 { background-position: -0px -31924px; }
.sprite32143 { background-position: -0px -32143px; }
.sprite32361 { background-position: -0px -32361px; }
.sprite32598 { background-position: -0px -32598px; }
.sprite32670 { background-position: -0px -32670px; }
.sprite32904 { background-position: -0px -32904px; }
.sprite33129 { background-position: -0px -33129px; }
.sprite33352 { background-position: -0px -33352px; }
.sprite33578 { background-position: -0px -33578px; }
.sprite33788 { background-position: -0px -33788px; }
.sprite34012 { background-position: -0px -34012px; }
.sprite34230 { background-position: -0px -34230px; }
.sprite34419 { background-position: -0px -34419px; }
.sprite34644 { background-position: -0px -34644px; }
.sprite34862 { background-position: -0px -34862px; }
.sprite35089 { background-position: -0px -35089px; }
.sprite35310 { background-position: -0px -35310px; }
.sprite35534 { background-position: -0px -35534px; }
.sprite35762 { background-position: -0px -35762px; }
.sprite35985 { background-position: -0px -35985px; }
.sprite36198 { background-position: -0px -36198px; }
.sprite36378 { background-position: -0px -36378px; }
.sprite36607 { background-position: -0px -36607px; }
.sprite36839 { background-position: -0px -36839px; }
.sprite37062 { background-position: -0px -37062px; }
.sprite37286 { background-position: -0px -37286px; }
.sprite37508 { background-position: -0px -37508px; }
.sprite37733 { background-position: -0px -37733px; }
.sprite37973 { background-position: -0px -37973px; }
.sprite38207 { background-position: -0px -38207px; }
.sprite38448 { background-position: -0px -38448px; }
.sprite38675 { background-position: -0px -38675px; }
.sprite38895 { background-position: -0px -38895px; }
.sprite39117 { background-position: -0px -39117px; }
.sprite39341 { background-position: -0px -39341px; }
.sprite39553 { background-position: -0px -39553px; }
.sprite39771 { background-position: -0px -39771px; }
.sprite39984 { background-position: -0px -39984px; }
.sprite40226 { background-position: -0px -40226px; }
.sprite40456 { background-position: -0px -40456px; }
.sprite40679 { background-position: -0px -40679px; }
.sprite40909 { background-position: -0px -40909px; }
.sprite41131 { background-position: -0px -41131px; }
.sprite41346 { background-position: -0px -41346px; }
.sprite41571 { background-position: -0px -41571px; }
.sprite41787 { background-position: -0px -41787px; }
.sprite42003 { background-position: -0px -42003px; }
.sprite42222 { background-position: -0px -42222px; }
.sprite42448 { background-position: -0px -42448px; }
.sprite42666 { background-position: -0px -42666px; }
.sprite42878 { background-position: -0px -42878px; }
.sprite43110 { background-position: -0px -43110px; }
.sprite43348 { background-position: -0px -43348px; }
.sprite43564 { background-position: -0px -43564px; }
.sprite43787 { background-position: -0px -43787px; }
.sprite44010 { background-position: -0px -44010px; }
.sprite44238 { background-position: -0px -44238px; }
.sprite44455 { background-position: -0px -44455px; }
.sprite44670 { background-position: -0px -44670px; }
.sprite44750 { background-position: -0px -44750px; }
.sprite44994 { background-position: -0px -44994px; }
.sprite45165 { background-position: -0px -45165px; }
.sprite45336 { background-position: -0px -45336px; }
.sprite45563 { background-position: -0px -45563px; }
.sprite45780 { background-position: -0px -45780px; }
.sprite45995 { background-position: -0px -45995px; }
.sprite46148 { background-position: -0px -46148px; }
.sprite46374 { background-position: -0px -46374px; }
.sprite46606 { background-position: -0px -46606px; }
.sprite46830 { background-position: -0px -46830px; }
.sprite47019 { background-position: -0px -47019px; }
.sprite47246 { background-position: -0px -47246px; }
.sprite47471 { background-position: -0px -47471px; }
.sprite47691 { background-position: -0px -47691px; }
.sprite47911 { background-position: -0px -47911px; }
.sprite48087 { background-position: -0px -48087px; }
.sprite48303 { background-position: -0px -48303px; }
.sprite48496 { background-position: -0px -48496px; }
.sprite48732 { background-position: -0px -48732px; }
.sprite48956 { background-position: -0px -48956px; }
.sprite49192 { background-position: -0px -49192px; }
.sprite49415 { background-position: -0px -49415px; }
.sprite49642 { background-position: -0px -49642px; }
.sprite49869 { background-position: -0px -49869px; }
.sprite50084 { background-position: -0px -50084px; }
.sprite50325 { background-position: -0px -50325px; }
.sprite50541 { background-position: -0px -50541px; }
.sprite50748 { background-position: -0px -50748px; }
.sprite50836 { background-position: -0px -50836px; }
.sprite51099 { background-position: -0px -51099px; }
.sprite51322 { background-position: -0px -51322px; }
.sprite51479 { background-position: -0px -51479px; }
.sprite51695 { background-position: -0px -51695px; }
.sprite51913 { background-position: -0px -51913px; }
.sprite52126 { background-position: -0px -52126px; }
.sprite52349 { background-position: -0px -52349px; }
.sprite52558 { background-position: -0px -52558px; }
.sprite52787 { background-position: -0px -52787px; }
.sprite53020 { background-position: -0px -53020px; }
.sprite53254 { background-position: -0px -53254px; }
.sprite53475 { background-position: -0px -53475px; }
.sprite53703 { background-position: -0px -53703px; }
.sprite53921 { background-position: -0px -53921px; }
.sprite54156 { background-position: -0px -54156px; }
.sprite54360 { background-position: -0px -54360px; }
.sprite54579 { background-position: -0px -54579px; }
.sprite54776 { background-position: -0px -54776px; }
.sprite54994 { background-position: -0px -54994px; }
.sprite55210 { background-position: -0px -55210px; }
.sprite55444 { background-position: -0px -55444px; }
.sprite55673 { background-position: -0px -55673px; }
.sprite55900 { background-position: -0px -55900px; }
.sprite56128 { background-position: -0px -56128px; }
.sprite56269 { background-position: -0px -56269px; }
.sprite56447 { background-position: -0px -56447px; }
.sprite56644 { background-position: -0px -56644px; }
.sprite56867 { background-position: -0px -56867px; }
.sprite57090 { background-position: -0px -57090px; }
.sprite57234 { background-position: -0px -57234px; }
.sprite57462 { background-position: -0px -57462px; }
.sprite57606 { background-position: -0px -57606px; }
.sprite57776 { background-position: -0px -57776px; }
.sprite57946 { background-position: -0px -57946px; }
.sprite58173 { background-position: -0px -58173px; }
.sprite58395 { background-position: -0px -58395px; }
.sprite58613 { background-position: -0px -58613px; }
.sprite58729 { background-position: -0px -58729px; }
.sprite58959 { background-position: -0px -58959px; }
.sprite59179 { background-position: -0px -59179px; }
.sprite59346 { background-position: -0px -59346px; }
.sprite59571 { background-position: -0px -59571px; }
.sprite59796 { background-position: -0px -59796px; }
.sprite60026 { background-position: -0px -60026px; }
.sprite60122 { background-position: -0px -60122px; }
.sprite60355 { background-position: -0px -60355px; }
.sprite60576 { background-position: -0px -60576px; }
.sprite60789 { background-position: -0px -60789px; }
.sprite60919 { background-position: -0px -60919px; }
.sprite61140 { background-position: -0px -61140px; }
.sprite61314 { background-position: -0px -61314px; }
.sprite61456 { background-position: -0px -61456px; }
.sprite61669 { background-position: -0px -61669px; }
.sprite61888 { background-position: -0px -61888px; }
.sprite62116 { background-position: -0px -62116px; }
.sprite62335 { background-position: -0px -62335px; }
.sprite62553 { background-position: -0px -62553px; }
.sprite62756 { background-position: -0px -62756px; }
.sprite62980 { background-position: -0px -62980px; }
.sprite63193 { background-position: -0px -63193px; }
.sprite63418 { background-position: -0px -63418px; }
.sprite63649 { background-position: -0px -63649px; }
.sprite63797 { background-position: -0px -63797px; }
.sprite64021 { background-position: -0px -64021px; }
.sprite64142 { background-position: -0px -64142px; }
.sprite64263 { background-position: -0px -64263px; }
.sprite64334 { background-position: -0px -64334px; }
.sprite64548 { background-position: -0px -64548px; }
.sprite64737 { background-position: -0px -64737px; }
.sprite64961 { background-position: -0px -64961px; }
.sprite65110 { background-position: -0px -65110px; }
.sprite65252 { background-position: -0px -65252px; }
.sprite65399 { background-position: -0px -65399px; }
.sprite65535 { background-position: -0px -65535px; }
.sprite65772 { background-position: -0px -65772px; }
.sprite65989 { background-position: -0px -65989px; }
.sprite66205 { background-position: -0px -66205px; }
.sprite66418 { background-position: -0px -66418px; }
.sprite66640 { background-position: -0px -66640px; }
.sprite66859 { background-position: -0px -66859px; }
.sprite67084 { background-position: -0px -67084px; }
.sprite67294 { background-position: -0px -67294px; }
.sprite67504 { background-position: -0px -67504px; }
.sprite67730 { background-position: -0px -67730px; }
.sprite67958 { background-position: -0px -67958px; }
.sprite68174 { background-position: -0px -68174px; }
.sprite68371 { background-position: -0px -68371px; }
.sprite68554 { background-position: -0px -68554px; }
.sprite68779 { background-position: -0px -68779px; }
.sprite68990 { background-position: -0px -68990px; }
.sprite69165 { background-position: -0px -69165px; }
.sprite69388 { background-position: -0px -69388px; }
.sprite69601 { background-position: -0px -69601px; }
.sprite69821 { background-position: -0px -69821px; }
.sprite70034 { background-position: -0px -70034px; }
.sprite70267 { background-position: -0px -70267px; }
.sprite70496 { background-position: -0px -70496px; }
.sprite70718 { background-position: -0px -70718px; }
.sprite70887 { background-position: -0px -70887px; }
.sprite71107 { background-position: -0px -71107px; }
.sprite71222 { background-position: -0px -71222px; }
.sprite71438 { background-position: -0px -71438px; }
.sprite71668 { background-position: -0px -71668px; }
.sprite71898 { background-position: -0px -71898px; }
.sprite72114 { background-position: -0px -72114px; }
.sprite72332 { background-position: -0px -72332px; }
.sprite72537 { background-position: -0px -72537px; }
.sprite72768 { background-position: -0px -72768px; }
.sprite72994 { background-position: -0px -72994px; }
.sprite73222 { background-position: -0px -73222px; }
.sprite73451 { background-position: -0px -73451px; }
.sprite73666 { background-position: -0px -73666px; }
.sprite73863 { background-position: -0px -73863px; }
.sprite74050 { background-position: -0px -74050px; }
.sprite74262 { background-position: -0px -74262px; }
.sprite74388 { background-position: -0px -74388px; }
.sprite74603 { background-position: -0px -74603px; }
.sprite74744 { background-position: -0px -74744px; }
.sprite74896 { background-position: -0px -74896px; }
.sprite75056 { background-position: -0px -75056px; }
.sprite75267 { background-position: -0px -75267px; }
.sprite75479 { background-position: -0px -75479px; }
.sprite75684 { background-position: -0px -75684px; }
.sprite75923 { background-position: -0px -75923px; }
.sprite76008 { background-position: -0px -76008px; }
.sprite76244 { background-position: -0px -76244px; }
.sprite76463 { background-position: -0px -76463px; }
.sprite76651 { background-position: -0px -76651px; }
.sprite76850 { background-position: -0px -76850px; }
.sprite77072 { background-position: -0px -77072px; }
.sprite77299 { background-position: -0px -77299px; }
.sprite77398 { background-position: -0px -77398px; }
.sprite77620 { background-position: -0px -77620px; }
.sprite77848 { background-position: -0px -77848px; }
.sprite78072 { background-position: -0px -78072px; }
.sprite78297 { background-position: -0px -78297px; }
.sprite78522 { background-position: -0px -78522px; }
.sprite78753 { background-position: -0px -78753px; }
.sprite78993 { background-position: -0px -78993px; }
.sprite79214 { background-position: -0px -79214px; }
.sprite79435 { background-position: -0px -79435px; }
.sprite79658 { background-position: -0px -79658px; }
.sprite79882 { background-position: -0px -79882px; }
.sprite80112 { background-position: -0px -80112px; }
.sprite80332 { background-position: -0px -80332px; }
.sprite80558 { background-position: -0px -80558px; }
.sprite80780 { background-position: -0px -80780px; }
.sprite80991 { background-position: -0px -80991px; }
.sprite81232 { background-position: -0px -81232px; }
.sprite81486 { background-position: -0px -81486px; }
.sprite81732 { background-position: -0px -81732px; }
.sprite81963 { background-position: -0px -81963px; }
.sprite82192 { background-position: -0px -82192px; }
.sprite82426 { background-position: -0px -82426px; }
.sprite82653 { background-position: -0px -82653px; }
.sprite82884 { background-position: -0px -82884px; }
.sprite83107 { background-position: -0px -83107px; }
.sprite83340 { background-position: -0px -83340px; }
.sprite83570 { background-position: -0px -83570px; }
.sprite83796 { background-position: -0px -83796px; }
.sprite84014 { background-position: -0px -84014px; }
.sprite84238 { background-position: -0px -84238px; }
.sprite84458 { background-position: -0px -84458px; }
.sprite84682 { background-position: -0px -84682px; }
.sprite84913 { background-position: -0px -84913px; }
.sprite85131 { background-position: -0px -85131px; }
.sprite85357 { background-position: -0px -85357px; }
.sprite85571 { background-position: -0px -85571px; }
.sprite85786 { background-position: -0px -85786px; }
.sprite85928 { background-position: -0px -85928px; }
.sprite86157 { background-position: -0px -86157px; }
.sprite86382 { background-position: -0px -86382px; }
.sprite86574 { background-position: -0px -86574px; }
.sprite86716 { background-position: -0px -86716px; }
.sprite86912 { background-position: -0px -86912px; }
.sprite87130 { background-position: -0px -87130px; }
.sprite87348 { background-position: -0px -87348px; }
.sprite87518 { background-position: -0px -87518px; }
.sprite87718 { background-position: -0px -87718px; }
.sprite87841 { background-position: -0px -87841px; }
.sprite88051 { background-position: -0px -88051px; }
.sprite88261 { background-position: -0px -88261px; }
.sprite88478 { background-position: -0px -88478px; }
.sprite88701 { background-position: -0px -88701px; }
.sprite88914 { background-position: -0px -88914px; }
.sprite89141 { background-position: -0px -89141px; }
.sprite89362 { background-position: -0px -89362px; }
.sprite89594 { background-position: -0px -89594px; }
.sprite89818 { background-position: -0px -89818px; }
.sprite90047 { background-position: -0px -90047px; }
.sprite90276 { background-position: -0px -90276px; }
.sprite90500 { background-position: -0px -90500px; }
.sprite90713 { background-position: -0px -90713px; }
.sprite90953 { background-position: -0px -90953px; }
.sprite91143 { background-position: -0px -91143px; }
.sprite91362 { background-position: -0px -91362px; }
.sprite91504 { background-position: -0px -91504px; }
.sprite91731 { background-position: -0px -91731px; }
.sprite91924 { background-position: -0px -91924px; }
.sprite92149 { background-position: -0px -92149px; }
.sprite92374 { background-position: -0px -92374px; }
.sprite92481 { background-position: -0px -92481px; }
.sprite92698 { background-position: -0px -92698px; }
.sprite92867 { background-position: -0px -92867px; }
.sprite93055 { background-position: -0px -93055px; }
.sprite93273 { background-position: -0px -93273px; }
.sprite93436 { background-position: -0px -93436px; }
.sprite93652 { background-position: -0px -93652px; }
.sprite93865 { background-position: -0px -93865px; }
.sprite94056 { background-position: -0px -94056px; }
.sprite94246 { background-position: -0px -94246px; }
.sprite94480 { background-position: -0px -94480px; }
.sprite94699 { background-position: -0px -94699px; }
.sprite94917 { background-position: -0px -94917px; }
.sprite95130 { background-position: -0px -95130px; }
.sprite95363 { background-position: -0px -95363px; }
.sprite95567 { background-position: -0px -95567px; }
.sprite95787 { background-position: -0px -95787px; }
.sprite96000 { background-position: -0px -96000px; }
.sprite96221 { background-position: -0px -96221px; }
.sprite96434 { background-position: -0px -96434px; }
.sprite96659 { background-position: -0px -96659px; }
.sprite96882 { background-position: -0px -96882px; }
.sprite97100 { background-position: -0px -97100px; }
.sprite97321 { background-position: -0px -97321px; }
.sprite97476 { background-position: -0px -97476px; }
.sprite97672 { background-position: -0px -97672px; }
.sprite97881 { background-position: -0px -97881px; }
.sprite98094 { background-position: -0px -98094px; }
.sprite98236 { background-position: -0px -98236px; }
.sprite98419 { background-position: -0px -98419px; }
.sprite98608 { background-position: -0px -98608px; }
.sprite98706 { background-position: -0px -98706px; }
.sprite98891 { background-position: -0px -98891px; }
.sprite99104 { background-position: -0px -99104px; }
.sprite99318 { background-position: -0px -99318px; }
.sprite99475 { background-position: -0px -99475px; }
.sprite99700 { background-position: -0px -99700px; }
.sprite99914 { background-position: -0px -99914px; }
.sprite100134 { background-position: -0px -100134px; }
.sprite100349 { background-position: -0px -100349px; }
.sprite100529 { background-position: -0px -100529px; }
.sprite100758 { background-position: -0px -100758px; }
.sprite100875 { background-position: -0px -100875px; }
.sprite101053 { background-position: -0px -101053px; }
.sprite101270 { background-position: -0px -101270px; }
.sprite101499 { background-position: -0px -101499px; }
.sprite101714 { background-position: -0px -101714px; }
.sprite101930 { background-position: -0px -101930px; }
.sprite102159 { background-position: -0px -102159px; }
.sprite102376 { background-position: -0px -102376px; }
.sprite102548 { background-position: -0px -102548px; }
.sprite102750 { background-position: -0px -102750px; }
.sprite102971 { background-position: -0px -102971px; }
.sprite103072 { background-position: -0px -103072px; }
.sprite103167 { background-position: -0px -103167px; }
.sprite103324 { background-position: -0px -103324px; }
.sprite103531 { background-position: -0px -103531px; }
.sprite103749 { background-position: -0px -103749px; }
.sprite103911 { background-position: -0px -103911px; }
.sprite104111 { background-position: -0px -104111px; }
.sprite104253 { background-position: -0px -104253px; }
.sprite104481 { background-position: -0px -104481px; }
.sprite104703 { background-position: -0px -104703px; }
.sprite104919 { background-position: -0px -104919px; }
.sprite105136 { background-position: -0px -105136px; }
.sprite105343 { background-position: -0px -105343px; }
.sprite105581 { background-position: -0px -105581px; }
.sprite105810 { background-position: -0px -105810px; }
.sprite106041 { background-position: -0px -106041px; }
.sprite106261 { background-position: -0px -106261px; }
.sprite106481 { background-position: -0px -106481px; }
.sprite106577 { background-position: -0px -106577px; }
.sprite106802 { background-position: -0px -106802px; }
.sprite107043 { background-position: -0px -107043px; }
.sprite107285 { background-position: -0px -107285px; }
.sprite107508 { background-position: -0px -107508px; }
.sprite107731 { background-position: -0px -107731px; }
.sprite107949 { background-position: -0px -107949px; }
.sprite108157 { background-position: -0px -108157px; }
.sprite108390 { background-position: -0px -108390px; }
.sprite108602 { background-position: -0px -108602px; }
.sprite108809 { background-position: -0px -108809px; }
.sprite109022 { background-position: -0px -109022px; }
.sprite109217 { background-position: -0px -109217px; }
.sprite109359 { background-position: -0px -109359px; }
.sprite109583 { background-position: -0px -109583px; }
.sprite109807 { background-position: -0px -109807px; }
.sprite110019 { background-position: -0px -110019px; }
.sprite110239 { background-position: -0px -110239px; }
.sprite110418 { background-position: -0px -110418px; }
.sprite110592 { background-position: -0px -110592px; }
.sprite110686 { background-position: -0px -110686px; }
.sprite110910 { background-position: -0px -110910px; }
.sprite111138 { background-position: -0px -111138px; }
.sprite111354 { background-position: -0px -111354px; }
.sprite111576 { background-position: -0px -111576px; }
.sprite111790 { background-position: -0px -111790px; }
.sprite111987 { background-position: -0px -111987px; }
.sprite112212 { background-position: -0px -112212px; }
.sprite112382 { background-position: -0px -112382px; }
.sprite112558 { background-position: -0px -112558px; }
.sprite112783 { background-position: -0px -112783px; }
.sprite112925 { background-position: -0px -112925px; }
.sprite113025 { background-position: -0px -113025px; }
.sprite113125 { background-position: -0px -113125px; }
.sprite113311 { background-position: -0px -113311px; }
.sprite113539 { background-position: -0px -113539px; }
.sprite113679 { background-position: -0px -113679px; }
.sprite113884 { background-position: -0px -113884px; }
.sprite114097 { background-position: -0px -114097px; }
.sprite114326 { background-position: -0px -114326px; }
.sprite114540 { background-position: -0px -114540px; }
.sprite114734 { background-position: -0px -114734px; }
.sprite114959 { background-position: -0px -114959px; }
.sprite115184 { background-position: -0px -115184px; }
.sprite115404 { background-position: -0px -115404px; }
.sprite115625 { background-position: -0px -115625px; }
.sprite115866 { background-position: -0px -115866px; }
.sprite116083 { background-position: -0px -116083px; }
.sprite116304 { background-position: -0px -116304px; }
.sprite116521 { background-position: -0px -116521px; }
.sprite116740 { background-position: -0px -116740px; }
.sprite116885 { background-position: -0px -116885px; }
.sprite117124 { background-position: -0px -117124px; }
.sprite117353 { background-position: -0px -117353px; }
.sprite117581 { background-position: -0px -117581px; }
.sprite117770 { background-position: -0px -117770px; }
.sprite118000 { background-position: -0px -118000px; }
.sprite118213 { background-position: -0px -118213px; }
.sprite118412 { background-position: -0px -118412px; }
.sprite118625 { background-position: -0px -118625px; }
.sprite118837 { background-position: -0px -118837px; }
.sprite119054 { background-position: -0px -119054px; }
.sprite119274 { background-position: -0px -119274px; }
.sprite119497 { background-position: -0px -119497px; }
.sprite119712 { background-position: -0px -119712px; }
.sprite119855 { background-position: -0px -119855px; }
.sprite120078 { background-position: -0px -120078px; }
.sprite120266 { background-position: -0px -120266px; }
.sprite120478 { background-position: -0px -120478px; }
.sprite120695 { background-position: -0px -120695px; }
.sprite120912 { background-position: -0px -120912px; }
.sprite121134 { background-position: -0px -121134px; }
.sprite121360 { background-position: -0px -121360px; }
.sprite121580 { background-position: -0px -121580px; }
.sprite121819 { background-position: -0px -121819px; }
.sprite122034 { background-position: -0px -122034px; }
.sprite122250 { background-position: -0px -122250px; }
.sprite122392 { background-position: -0px -122392px; }
.sprite122618 { background-position: -0px -122618px; }
.sprite122696 { background-position: -0px -122696px; }
.sprite122933 { background-position: -0px -122933px; }
.sprite123171 { background-position: -0px -123171px; }
.sprite123384 { background-position: -0px -123384px; }
.sprite123603 { background-position: -0px -123603px; }
.sprite123779 { background-position: -0px -123779px; }
.sprite123958 { background-position: -0px -123958px; }
.sprite124158 { background-position: -0px -124158px; }
.sprite124391 { background-position: -0px -124391px; }
.sprite124623 { background-position: -0px -124623px; }
.sprite124841 { background-position: -0px -124841px; }
.sprite124939 { background-position: -0px -124939px; }
.sprite125164 { background-position: -0px -125164px; }
.sprite125387 { background-position: -0px -125387px; }
.sprite125576 { background-position: -0px -125576px; }
.sprite125790 { background-position: -0px -125790px; }
.sprite125961 { background-position: -0px -125961px; }
.sprite126190 { background-position: -0px -126190px; }
.sprite126427 { background-position: -0px -126427px; }
.sprite126651 { background-position: -0px -126651px; }
.sprite126871 { background-position: -0px -126871px; }
.sprite127104 { background-position: -0px -127104px; }
.sprite127341 { background-position: -0px -127341px; }
.sprite127569 { background-position: -0px -127569px; }
.sprite127800 { background-position: -0px -127800px; }
.sprite128018 { background-position: -0px -128018px; }
.sprite128236 { background-position: -0px -128236px; }
.sprite128464 { background-position: -0px -128464px; }
.sprite128684 { background-position: -0px -128684px; }
.sprite128907 { background-position: -0px -128907px; }
.sprite129130 { background-position: -0px -129130px; }
.sprite129346 { background-position: -0px -129346px; }
.sprite129559 { background-position: -0px -129559px; }
.sprite129759 { background-position: -0px -129759px; }
.sprite129969 { background-position: -0px -129969px; }
.sprite130167 { background-position: -0px -130167px; }
.sprite130367 { background-position: -0px -130367px; }
.sprite130607 { background-position: -0px -130607px; }
.sprite130825 { background-position: -0px -130825px; }
.sprite131049 { background-position: -0px -131049px; }
.sprite131191 { background-position: -0px -131191px; }
.sprite131413 { background-position: -0px -131413px; }
.sprite131612 { background-position: -0px -131612px; }
.sprite131775 { background-position: -0px -131775px; }
.sprite131971 { background-position: -0px -131971px; }
.sprite132098 { background-position: -0px -132098px; }
.sprite132289 { background-position: -0px -132289px; }
.sprite132480 { background-position: -0px -132480px; }
.sprite132683 { background-position: -0px -132683px; }
.sprite132779 { background-position: -0px -132779px; }
.sprite132992 { background-position: -0px -132992px; }
.sprite133170 { background-position: -0px -133170px; }
.sprite133389 { background-position: -0px -133389px; }
.sprite133627 { background-position: -0px -133627px; }
.sprite133832 { background-position: -0px -133832px; }
.sprite134012 { background-position: -0px -134012px; }
.sprite134172 { background-position: -0px -134172px; }
.sprite134390 { background-position: -0px -134390px; }
.sprite134572 { background-position: -0px -134572px; }
.sprite134750 { background-position: -0px -134750px; }
.sprite134948 { background-position: -0px -134948px; }
.sprite135150 { background-position: -0px -135150px; }
.sprite135273 { background-position: -0px -135273px; }
.sprite135487 { background-position: -0px -135487px; }
.sprite135681 { background-position: -0px -135681px; }
.sprite135862 { background-position: -0px -135862px; }
.sprite136079 { background-position: -0px -136079px; }
.sprite136291 { background-position: -0px -136291px; }
.sprite136394 { background-position: -0px -136394px; }
.sprite136604 { background-position: -0px -136604px; }
.sprite136828 { background-position: -0px -136828px; }
.sprite137018 { background-position: -0px -137018px; }
.sprite137233 { background-position: -0px -137233px; }
.sprite137458 { background-position: -0px -137458px; }
.sprite137675 { background-position: -0px -137675px; }
.sprite137892 { background-position: -0px -137892px; }
.sprite138073 { background-position: -0px -138073px; }
.sprite138308 { background-position: -0px -138308px; }
.sprite138402 { background-position: -0px -138402px; }
.sprite138578 { background-position: -0px -138578px; }
.sprite138792 { background-position: -0px -138792px; }
.sprite139033 { background-position: -0px -139033px; }
.sprite139253 { background-position: -0px -139253px; }
.sprite139466 { background-position: -0px -139466px; }
.sprite139655 { background-position: -0px -139655px; }
.sprite139894 { background-position: -0px -139894px; }
.sprite140059 { background-position: -0px -140059px; }
.sprite140153 { background-position: -0px -140153px; }
.sprite140373 { background-position: -0px -140373px; }
.sprite140593 { background-position: -0px -140593px; }
.sprite140808 { background-position: -0px -140808px; }
.sprite141041 { background-position: -0px -141041px; }
.sprite141254 { background-position: -0px -141254px; }
.sprite141396 { background-position: -0px -141396px; }
.sprite141562 { background-position: -0px -141562px; }
.sprite141749 { background-position: -0px -141749px; }
.sprite141936 { background-position: -0px -141936px; }
.sprite142194 { background-position: -0px -142194px; }
.sprite142397 { background-position: -0px -142397px; }
.sprite142571 { background-position: -0px -142571px; }
.sprite142730 { background-position: -0px -142730px; }
.sprite142887 { background-position: -0px -142887px; }
.sprite143076 { background-position: -0px -143076px; }
.sprite143319 { background-position: -0px -143319px; }
.sprite143560 { background-position: -0px -143560px; }
.sprite143781 { background-position: -0px -143781px; }
.sprite144005 { background-position: -0px -144005px; }
.sprite144229 { background-position: -0px -144229px; }
.sprite144454 { background-position: -0px -144454px; }
.sprite144667 { background-position: -0px -144667px; }
.sprite144877 { background-position: -0px -144877px; }
.sprite145062 { background-position: -0px -145062px; }
.sprite145237 { background-position: -0px -145237px; }
.sprite145379 { background-position: -0px -145379px; }
.sprite145603 { background-position: -0px -145603px; }
.sprite145830 { background-position: -0px -145830px; }
.sprite146052 { background-position: -0px -146052px; }
.sprite146262 { background-position: -0px -146262px; }
.sprite146501 { background-position: -0px -146501px; }
.sprite146744 { background-position: -0px -146744px; }
.sprite146966 { background-position: -0px -146966px; }
.sprite147209 { background-position: -0px -147209px; }
.sprite147429 { background-position: -0px -147429px; }
.sprite147651 { background-position: -0px -147651px; }
.sprite147885 { background-position: -0px -147885px; }
.sprite147979 { background-position: -0px -147979px; }
.sprite148213 { background-position: -0px -148213px; }
.sprite148444 { background-position: -0px -148444px; }
.sprite148550 { background-position: -0px -148550px; }
.sprite148772 { background-position: -0px -148772px; }
.sprite148884 { background-position: -0px -148884px; }
.sprite148996 { background-position: -0px -148996px; }
.sprite149225 { background-position: -0px -149225px; }
.sprite149397 { background-position: -0px -149397px; }
.sprite149573 { background-position: -0px -149573px; }
.sprite149805 { background-position: -0px -149805px; }
.sprite150020 { background-position: -0px -150020px; }
.sprite150240 { background-position: -0px -150240px; }
.sprite150429 { background-position: -0px -150429px; }
.sprite150638 { background-position: -0px -150638px; }
.sprite150834 { background-position: -0px -150834px; }
.sprite151060 { background-position: -0px -151060px; }
.sprite151293 { background-position: -0px -151293px; }
.sprite151514 { background-position: -0px -151514px; }
.sprite151751 { background-position: -0px -151751px; }
.sprite151961 { background-position: -0px -151961px; }
.sprite152172 { background-position: -0px -152172px; }
.sprite152393 { background-position: -0px -152393px; }
.sprite152610 { background-position: -0px -152610px; }
.sprite152821 { background-position: -0px -152821px; }
.sprite153031 { background-position: -0px -153031px; }
.sprite153260 { background-position: -0px -153260px; }
.sprite153481 { background-position: -0px -153481px; }
.sprite153714 { background-position: -0px -153714px; }
.sprite153931 { background-position: -0px -153931px; }
.sprite154151 { background-position: -0px -154151px; }
.sprite154372 { background-position: -0px -154372px; }
.sprite154599 { background-position: -0px -154599px; }
.sprite154812 { background-position: -0px -154812px; }
.sprite155024 { background-position: -0px -155024px; }
.sprite155236 { background-position: -0px -155236px; }
.sprite155452 { background-position: -0px -155452px; }
.sprite155678 { background-position: -0px -155678px; }
.sprite155871 { background-position: -0px -155871px; }
.sprite156084 { background-position: -0px -156084px; }
.sprite156298 { background-position: -0px -156298px; }
.sprite156512 { background-position: -0px -156512px; }
.sprite156736 { background-position: -0px -156736px; }
.sprite156956 { background-position: -0px -156956px; }
.sprite157195 { background-position: -0px -157195px; }
.sprite157337 { background-position: -0px -157337px; }
.sprite157556 { background-position: -0px -157556px; }
.sprite157779 { background-position: -0px -157779px; }
.sprite158002 { background-position: -0px -158002px; }
.sprite158144 { background-position: -0px -158144px; }
.sprite158357 { background-position: -0px -158357px; }
.sprite158570 { background-position: -0px -158570px; }
.sprite158783 { background-position: -0px -158783px; }
.sprite159012 { background-position: -0px -159012px; }
.sprite159229 { background-position: -0px -159229px; }
.sprite159452 { background-position: -0px -159452px; }
.sprite159660 { background-position: -0px -159660px; }
.sprite159835 { background-position: -0px -159835px; }
.sprite160063 { background-position: -0px -160063px; }
.sprite160281 { background-position: -0px -160281px; }
.sprite160511 { background-position: -0px -160511px; }
.sprite160606 { background-position: -0px -160606px; }
.sprite160818 { background-position: -0px -160818px; }
.sprite161038 { background-position: -0px -161038px; }
.sprite161246 { background-position: -0px -161246px; }
.sprite161455 { background-position: -0px -161455px; }
.sprite161673 { background-position: -0px -161673px; }
.sprite161894 { background-position: -0px -161894px; }
.sprite162112 { background-position: -0px -162112px; }
.sprite162314 { background-position: -0px -162314px; }
.sprite162534 { background-position: -0px -162534px; }
.sprite162763 { background-position: -0px -162763px; }
.sprite162981 { background-position: -0px -162981px; }
.sprite163194 { background-position: -0px -163194px; }
.sprite163434 { background-position: -0px -163434px; }
.sprite163528 { background-position: -0px -163528px; }
.sprite163739 { background-position: -0px -163739px; }
.sprite163966 { background-position: -0px -163966px; }
.sprite164193 { background-position: -0px -164193px; }
.sprite164405 { background-position: -0px -164405px; }
.sprite164575 { background-position: -0px -164575px; }
.sprite164740 { background-position: -0px -164740px; }
.sprite164958 { background-position: -0px -164958px; }
.sprite165182 { background-position: -0px -165182px; }
.sprite165393 { background-position: -0px -165393px; }
.sprite165602 { background-position: -0px -165602px; }
.sprite165810 { background-position: -0px -165810px; }
.sprite166029 { background-position: -0px -166029px; }
.sprite166252 { background-position: -0px -166252px; }
.sprite166475 { background-position: -0px -166475px; }
.sprite166695 { background-position: -0px -166695px; }
.sprite166915 { background-position: -0px -166915px; }
.sprite167057 { background-position: -0px -167057px; }
.sprite167291 { background-position: -0px -167291px; }
.sprite167510 { background-position: -0px -167510px; }
.sprite167728 { background-position: -0px -167728px; }
.sprite167948 { background-position: -0px -167948px; }
.sprite168168 { background-position: -0px -168168px; }
.sprite168383 { background-position: -0px -168383px; }
.sprite168601 { background-position: -0px -168601px; }
.sprite168829 { background-position: -0px -168829px; }
.sprite169056 { background-position: -0px -169056px; }
.sprite169266 { background-position: -0px -169266px; }
.sprite169492 { background-position: -0px -169492px; }
.sprite169716 { background-position: -0px -169716px; }
.sprite169934 { background-position: -0px -169934px; }
.sprite170147 { background-position: -0px -170147px; }
.sprite170370 { background-position: -0px -170370px; }
.sprite170598 { background-position: -0px -170598px; }
.sprite170827 { background-position: -0px -170827px; }
.sprite171046 { background-position: -0px -171046px; }
.sprite171124 { background-position: -0px -171124px; }
.sprite171342 { background-position: -0px -171342px; }
.sprite171566 { background-position: -0px -171566px; }
.sprite171796 { background-position: -0px -171796px; }
.sprite172030 { background-position: -0px -172030px; }
.sprite172245 { background-position: -0px -172245px; }
.sprite172471 { background-position: -0px -172471px; }
.sprite172692 { background-position: -0px -172692px; }
.sprite172915 { background-position: -0px -172915px; }
.sprite173130 { background-position: -0px -173130px; }
.sprite173356 { background-position: -0px -173356px; }
.sprite173584 { background-position: -0px -173584px; }
.sprite173814 { background-position: -0px -173814px; }
.sprite174035 { background-position: -0px -174035px; }
.sprite174222 { background-position: -0px -174222px; }
.sprite174452 { background-position: -0px -174452px; }
.sprite174672 { background-position: -0px -174672px; }
.sprite174888 { background-position: -0px -174888px; }
.sprite175100 { background-position: -0px -175100px; }
.sprite175324 { background-position: -0px -175324px; }
.sprite175542 { background-position: -0px -175542px; }
.sprite175760 { background-position: -0px -175760px; }
.sprite175982 { background-position: -0px -175982px; }
.sprite176214 { background-position: -0px -176214px; }
.sprite176431 { background-position: -0px -176431px; }
.sprite176654 { background-position: -0px -176654px; }
.sprite176861 { background-position: -0px -176861px; }
.sprite177084 { background-position: -0px -177084px; }
.sprite177301 { background-position: -0px -177301px; }
.sprite177513 { background-position: -0px -177513px; }
.sprite177729 { background-position: -0px -177729px; }
.sprite177951 { background-position: -0px -177951px; }
.sprite178026 { background-position: -0px -178026px; }
.sprite178237 { background-position: -0px -178237px; }
.sprite178453 { background-position: -0px -178453px; }
.sprite178665 { background-position: -0px -178665px; }
.sprite178910 { background-position: -0px -178910px; }
.sprite179130 { background-position: -0px -179130px; }
.sprite179358 { background-position: -0px -179358px; }
.sprite179576 { background-position: -0px -179576px; }
.sprite179794 { background-position: -0px -179794px; }
.sprite180016 { background-position: -0px -180016px; }
.sprite180240 { background-position: -0px -180240px; }
.sprite180461 { background-position: -0px -180461px; }
.sprite180677 { background-position: -0px -180677px; }
.sprite180894 { background-position: -0px -180894px; }
.sprite181112 { background-position: -0px -181112px; }
.sprite181329 { background-position: -0px -181329px; }
.sprite181551 { background-position: -0px -181551px; }
.sprite181765 { background-position: -0px -181765px; }
.sprite181978 { background-position: -0px -181978px; }
.sprite182196 { background-position: -0px -182196px; }
.sprite182407 { background-position: -0px -182407px; }
.sprite182632 { background-position: -0px -182632px; }
.sprite182859 { background-position: -0px -182859px; }
.sprite183072 { background-position: -0px -183072px; }
.sprite183292 { background-position: -0px -183292px; }
.sprite183503 { background-position: -0px -183503px; }
.sprite183727 { background-position: -0px -183727px; }
.sprite183951 { background-position: -0px -183951px; }
.sprite184093 { background-position: -0px -184093px; }
.sprite184322 { background-position: -0px -184322px; }
.sprite184560 { background-position: -0px -184560px; }
.sprite184775 { background-position: -0px -184775px; }
.sprite184978 { background-position: -0px -184978px; }
.sprite185197 { background-position: -0px -185197px; }
.sprite185419 { background-position: -0px -185419px; }
.sprite185635 { background-position: -0px -185635px; }
.sprite185855 { background-position: -0px -185855px; }
.sprite186074 { background-position: -0px -186074px; }
.sprite186295 { background-position: -0px -186295px; }
.sprite186523 { background-position: -0px -186523px; }
.sprite186744 { background-position: -0px -186744px; }
.sprite186949 { background-position: -0px -186949px; }
.sprite187165 { background-position: -0px -187165px; }
.sprite187382 { background-position: -0px -187382px; }
.sprite187599 { background-position: -0px -187599px; }
.sprite187818 { background-position: -0px -187818px; }
.sprite188036 { background-position: -0px -188036px; }
.sprite188259 { background-position: -0px -188259px; }
.sprite188482 { background-position: -0px -188482px; }
.sprite188699 { background-position: -0px -188699px; }
.sprite188917 { background-position: -0px -188917px; }
.sprite189136 { background-position: -0px -189136px; }
.sprite189369 { background-position: -0px -189369px; }
.sprite189593 { background-position: -0px -189593px; }
.sprite189806 { background-position: -0px -189806px; }
.sprite190026 { background-position: -0px -190026px; }
.sprite190264 { background-position: -0px -190264px; }
.sprite190493 { background-position: -0px -190493px; }
.sprite190716 { background-position: -0px -190716px; }
.sprite190930 { background-position: -0px -190930px; }
.sprite191152 { background-position: -0px -191152px; }
.sprite191355 { background-position: -0px -191355px; }
.sprite191586 { background-position: -0px -191586px; }
.sprite191821 { background-position: -0px -191821px; }
.sprite191950 { background-position: -0px -191950px; }
.sprite192163 { background-position: -0px -192163px; }
.sprite192373 { background-position: -0px -192373px; }
.sprite192541 { background-position: -0px -192541px; }
.sprite192770 { background-position: -0px -192770px; }
.sprite192988 { background-position: -0px -192988px; }
.sprite193211 { background-position: -0px -193211px; }
.sprite193412 { background-position: -0px -193412px; }
.sprite193646 { background-position: -0px -193646px; }
.sprite193865 { background-position: -0px -193865px; }
.sprite194094 { background-position: -0px -194094px; }
.sprite194321 { background-position: -0px -194321px; }
.sprite194534 { background-position: -0px -194534px; }
.sprite194741 { background-position: -0px -194741px; }
.sprite194865 { background-position: -0px -194865px; }
.sprite195081 { background-position: -0px -195081px; }
.sprite195317 { background-position: -0px -195317px; }
.sprite195538 { background-position: -0px -195538px; }
.sprite195717 { background-position: -0px -195717px; }
.sprite195896 { background-position: -0px -195896px; }
.sprite196042 { background-position: -0px -196042px; }
.sprite196231 { background-position: -0px -196231px; }
.sprite196443 { background-position: -0px -196443px; }
.sprite196657 { background-position: -0px -196657px; }
.sprite196747 { background-position: -0px -196747px; }
.sprite196959 { background-position: -0px -196959px; }
.sprite197187 { background-position: -0px -197187px; }
.sprite197401 { background-position: -0px -197401px; }
.sprite197618 { background-position: -0px -197618px; }
.sprite197831 { background-position: -0px -197831px; }
.sprite197925 { background-position: -0px -197925px; }
.sprite198151 { background-position: -0px -198151px; }
.sprite198359 { background-position: -0px -198359px; }
.sprite198581 { background-position: -0px -198581px; }
.sprite198764 { background-position: -0px -198764px; }
.sprite199002 { background-position: -0px -199002px; }
.sprite199237 { background-position: -0px -199237px; }
.sprite199454 { background-position: -0px -199454px; }
.sprite199682 { background-position: -0px -199682px; }
.sprite199883 { background-position: -0px -199883px; }
.sprite200101 { background-position: -0px -200101px; }
.sprite200319 { background-position: -0px -200319px; }
.sprite200547 { background-position: -0px -200547px; }
.sprite200774 { background-position: -0px -200774px; }
.sprite200977 { background-position: -0px -200977px; }
.sprite201119 { background-position: -0px -201119px; }
.sprite201343 { background-position: -0px -201343px; }
.sprite201566 { background-position: -0px -201566px; }
.sprite201678 { background-position: -0px -201678px; }
.sprite201903 { background-position: -0px -201903px; }
.sprite202117 { background-position: -0px -202117px; }
.sprite202335 { background-position: -0px -202335px; }
.sprite202564 { background-position: -0px -202564px; }
.sprite202784 { background-position: -0px -202784px; }
.sprite202992 { background-position: -0px -202992px; }
.sprite203223 { background-position: -0px -203223px; }
.sprite203436 { background-position: -0px -203436px; }
.sprite203649 { background-position: -0px -203649px; }
.sprite203805 { background-position: -0px -203805px; }
.sprite204005 { background-position: -0px -204005px; }
.sprite204223 { background-position: -0px -204223px; }
.sprite204439 { background-position: -0px -204439px; }
.sprite204666 { background-position: -0px -204666px; }
.sprite204895 { background-position: -0px -204895px; }
.sprite205113 { background-position: -0px -205113px; }
.sprite205318 { background-position: -0px -205318px; }
.sprite205535 { background-position: -0px -205535px; }
.sprite205753 { background-position: -0px -205753px; }
.sprite205973 { background-position: -0px -205973px; }
.sprite206207 { background-position: -0px -206207px; }
.sprite206429 { background-position: -0px -206429px; }
.sprite206640 { background-position: -0px -206640px; }
.sprite206859 { background-position: -0px -206859px; }
.sprite207053 { background-position: -0px -207053px; }
.sprite207289 { background-position: -0px -207289px; }
.sprite207489 { background-position: -0px -207489px; }
.sprite207716 { background-position: -0px -207716px; }
.sprite207956 { background-position: -0px -207956px; }
.sprite208192 { background-position: -0px -208192px; }
.sprite208382 { background-position: -0px -208382px; }
.sprite208609 { background-position: -0px -208609px; }
.sprite208836 { background-position: -0px -208836px; }
.sprite209049 { background-position: -0px -209049px; }
.sprite209191 { background-position: -0px -209191px; }
.sprite209421 { background-position: -0px -209421px; }
.sprite209646 { background-position: -0px -209646px; }
.sprite209875 { background-position: -0px -209875px; }
.sprite209981 { background-position: -0px -209981px; }
.sprite210157 { background-position: -0px -210157px; }
.sprite210301 { background-position: -0px -210301px; }
.sprite210514 { background-position: -0px -210514px; }
.sprite210703 { background-position: -0px -210703px; }
.sprite210871 { background-position: -0px -210871px; }
.sprite211059 { background-position: -0px -211059px; }
.sprite211287 { background-position: -0px -211287px; }
.sprite211487 { background-position: -0px -211487px; }
.sprite211719 { background-position: -0px -211719px; }
.sprite211957 { background-position: -0px -211957px; }
.sprite212184 { background-position: -0px -212184px; }
.sprite212330 { background-position: -0px -212330px; }
.sprite212554 { background-position: -0px -212554px; }
.sprite212781 { background-position: -0px -212781px; }
