select.input-sm.form-control.operator-select {
  width: 30%;
  float: left;
}
.form-control.filterinput.operator-input {
  width: 60%;
  float: right;
}
.filter-form-container {
  float: left;
  width: 48%;
}
