<div id="reading-date-modal" ng-form="readingDateForm" permission="CREATE_READING_DATE,UPDATE_READING_DATE">
    <div class="modal-header">
        <h3 class="modal-title">Lees datum</h3>
    </div>
    <div class="modal-body">
        <fieldset style="text-align: left;">
            <div class="form-container">

                <!-- RATING -->
                <div class="form-group required">
                    <label id="default-rating" class="control-label">Rating </label>
                    <div>
                        <uib-rating ng-model="model.rating" max="10" aria-labelledby="default-rating" ng-required="true" name="rating"></uib-rating>
                        <span ng-show="ratingInvalid" class="form-error-message help-inline"><i class="fa fa-exclamation-circle"></i> Rating is verplicht</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Review</label>
                    <textarea id="review-input" class="form-control" rows="5" name="review" ng-model="model.review"></textarea>
                </div>

                <div class="form-group required">
                    <label class="control-label">Datum </label>
                    <p class="input-group input-width-sm">
                        <input id="date-input" type="text" class="form-control" is-open="datepicker.opened"
                               show-button-bar="false"
                               date-formatter
                               ng-model-options="{ allowInvalid: true }"
                               uib-datepicker-popup="dd-MM-yyyy" ng-model="model.date" is-open="false"
                               ng-required="true" close-text="Sluiten"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openDatePicker()"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button id="save-button" class="btn btn-primary" ng-click="submitForm()">Save</button>
        <button id="cancel-button" class="btn btn-danger" type="button" ng-click="$dismiss()">Annuleer</button>
    </div>
</div>