<div class="create-book-div" permission="CREATE_PERSONAL_BOOK_INFO, UPDATE_PERSONAL_BOOK_INFO">
    <errorcontainer></errorcontainer>
    <infocontainer></infocontainer>
    <h1></h1>
    <form ng-submit="submitForm(model)" autocomplete="off" id="personalBookInfoForm" name="personalBookInfoForm" novalidate class="form-horizontal">
        <fieldset>

            <div class="form-container">
                <div class="col-md-12">
                    <div class="form-subtitle">Aanschaf informatie</div>
                    <div class="form-content">
                        <!-- OWNED -->
                        <div class="form-group required">
                            <div class="checkbox">
                                <label>
                                    <input id="in-collection-checkbox" type="checkbox" ng-model="model.inCollection"> In collectie
                                </label>
                            </div>
                        </div>

                        <div id="not-in-collection-panel" class="form-group required animated fadeIn" ng-show="!model.inCollection">
                            <label class="control-label">Reden niet in collectie</label>

                            <div class="btn-group" data-toggle="buttons" style="display: block">
                                <label id="borrowed-button" class="btn btn-default active" ng-model="model.reasonNotInCollection" uib-btn-radio="'BORROWED'">Geleend</label>
                                <label id="sold-button" class="btn btn-default active" ng-model="model.reasonNotInCollection" uib-btn-radio="'SOLD'">Verkocht</label>
                                <label id="lost-button" class="btn btn-default active" ng-model="model.reasonNotInCollection" uib-btn-radio="'LOST'">Verloren</label>
                            </div>
                        </div>

                        <div id="in-collection-panel" ng-show="model.inCollection" class="form-group required">
                            <label class="control-label">Verkregen </label>

                            <div class="btn-group" data-toggle="buttons" style="display: block">
                                <label id="buy-info-button" class="btn btn-default active" ng-model="model.acquirement" uib-btn-radio="'BUY'">Gekocht</label>
                                <label id="gift-info-button" class="btn btn-default active" ng-model="model.acquirement" uib-btn-radio="'GIFT'">Gekregen</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="buy-info-panel" ng-if="model.inCollection && model.acquirement === 'BUY'" class="animated fadeIn" ng-include="'../BiblioMania/views/partials/personalbookinfo/buy-info.html'"></div>
                <div id="gift-info-panel" ng-if="model.inCollection && model.acquirement === 'GIFT'" class="animated fadeIn" ng-include="'../BiblioMania/views/partials/personalbookinfo/gift-info.html'"></div>

                <div class="col-md-12"  style="position: inherit">
                    <button id="save-button" class="btn btn-primary">Save</button>
                </div>
            </div>

        </fieldset>
    </form>
</div>