<!--NOT IN COLLECTION-->
<dl ng-if="!personalBookInfo.inCollection" class="dl-horizontal dl-text-align-left dl-personal-book-info-detail-directive">
    <dt>{{ 'translation.in.collection' | translate }}</dt>
    <dd>{{ 'translation.no' | translate }}</dd>
    <dt>{{ 'translation.reason' | translate }}</dt>
    <dd>{{ personalBookInfo.reasonNotInCollection | translate }}</dd>
</dl>

<!--BUY-->
<dl ng-if="personalBookInfo.buyInfo" class="dl-horizontal dl-text-align-left dl-personal-book-info-detail-directive">
    <dt ng-show="personalBookInfo.buyInfo.buyDate">Aanschafdatum:</dt>
    <dd ng-show="personalBookInfo.buyInfo.buyDate">{{dateToString(personalBookInfo.buyInfo.buyDate)}}</dd>
    <dt ng-show="personalBookInfo.buyInfo.buyPrice.amount">Aankoopprijs:</dt>
    <dd ng-show="personalBookInfo.buyInfo.buyPrice.amount">{{ getCurrencyViewValue(personalBookInfo.buyInfo.buyPrice.currency)}} {{personalBookInfo.buyInfo.buyPrice.amount | numberFormatFilter }}</dd>
    <dt ng-show="personalBookInfo.buyInfo.shop">Winkel:</dt>
    <dd ng-show="personalBookInfo.buyInfo.shop">{{personalBookInfo.buyInfo.shop}}</dd>
    <dt ng-show="personalBookInfo.buyInfo.cityShop">Stad winkel:</dt>
    <dd ng-show="personalBookInfo.buyInfo.cityShop">{{personalBookInfo.buyInfo.cityShop}}</dd>
    <dt ng-show="personalBookInfo.buyInfo.reason">Reden:</dt>
    <dd ng-show="personalBookInfo.buyInfo.reason">{{personalBookInfo.buyInfo.reason}}</dd>
    <dt ng-show="personalBookInfo.buyInfo.countryShop">Land gekocht:</dt>
    <dd ng-show="personalBookInfo.buyInfo.countryShop">{{personalBookInfo.buyInfo.countryShop}}</dd>
</dl>

<!--GIFT-->
<dl ng-if="personalBookInfo.giftInfo" class="dl-horizontal dl-text-align-left dl-personal-book-info-detail-directive">
    <dt ng-show="personalBookInfo.giftInfo.giftDate">Ontvangstdatum:</dt>
    <dd ng-show="personalBookInfo.giftInfo.giftDate">{{dateToString(personalBookInfo.giftInfo.giftDate)}}</dd>
    <dt ng-show="personalBookInfo.giftInfo.from">Gekregen van:</dt>
    <dd ng-show="personalBookInfo.giftInfo.from">{{personalBookInfo.giftInfo.from}}</dd>
    <dt ng-show="personalBookInfo.giftInfo.occasion">Gelegenheid:</dt>
    <dd ng-show="personalBookInfo.giftInfo.occasion">{{personalBookInfo.giftInfo.occasion}}</dd>
    <dt ng-show="personalBookInfo.giftInfo.reason">Reden:</dt>
    <dd ng-show="personalBookInfo.giftInfo.reason">{{personalBookInfo.giftInfo.reason}}</dd>
</dl>