@font-face {
  font-family: "vincent";
  src: url("../fonts/Vincent-Regular.otf") format("opentype");
}
@font-face {
  font-family: "baron";
  src: url("../fonts/baron_black.otf") format("opentype");
}
@font-face {
  font-family: "parisish";
  src: url("../fonts/Parisish.ttf") format("opentype");
}
@font-face {
  font-family: "vincent";
  font-weight: bold;
  src: url("../fonts/Vincent-Regular.otf") format("opentype");
}
* {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
img {
  background: url('images/questionCover.png') no-repeat;
}
input {
  color: #2d6ca2;
}
.input-xs {
  height: 22px;
  padding: 5px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
body {
  font-family: "helvetica";
  color: #2d6ca2;
  font-size: 16px;
  background-color: #428bca;
}
div.tableDiv {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}
small.help-block {
  color: #2d6ca2;
}
select {
  color: #ffffff;
}
.modal-body {
  color: #ffffff;
}
.glyphicon,
.fa,
.clickable {
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}
.glyphicon:hover,
.fa:hover,
.clickable:hover {
  color: black;
}
.editImagePencilIcon {
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}
.editImagePencilIcon:hover {
  color: white;
}
.clickedGenre {
  color: black;
  font-weight: bold;
}
a:hover {
  color: black;
  background-color: #def;
}
.datepicker .multidatepicker {
  color: #ffffff;
}
.popover-title {
  color: #ffffff;
}
.title-panel {
  width: 100%;
  padding-left: 20px;
  background-color: #2d6ca2;
  color: #ffffff;
  font-family: "vincent";
  font-size: 36px;
}
div.chartContainer {
  width: 800px;
}
div.chartDiv {
  width: 600px;
  float: left;
}
div.editBookPanel {
  cursor: pointer;
}
legend {
  color: #2d6ca2;
}
/*PLACEHOLDERS*/
.form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ffffff;
  opacity: 1;
}
.form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ffffff;
  opacity: 1;
}
.form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ffffff;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ffffff;
}
.genre-list {
  list-style-type: none;
}
/*END PLACEHOLDERS*/
.contentContainer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 88%;
  background-color: #ffffff;
  border: 5px solid #2d6ca2;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.26);
}
.contentPanel {
  padding-right: 15px;
  padding-left: 15px;
}
/*BOOKS*/
.book-filters-table tbody tr td {
  padding: 5px;
}
legend.sub-border {
  width: inherit;
  /* Or auto */
  padding: 0 10px;
  /* To give a bit of padding on the left and right */
  border-bottom: none;
}
.createBookDiv {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}
.create-book-div {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
.google-image-search-table tbody tr td {
  padding: 10px;
}
.googleSearchLoader {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;
}
.cover-info-filter-table tbody tr td {
  padding-left: 10px;
}
.cover-info-top-panel {
  margin-bottom: 20px;
}
.google-selected-image {
  border: 8px solid deepskyblue;
}
.green-linked-div {
  color: #ffffff;
  background-color: green;
  padding: 3px 10px;
  border-radius: 3px !important;
  margin-left: 10px;
  text-align: center;
}
.author-oeuvre-linked-book-title {
  color: #428bca;
}
button.searchButton {
  height: 36px;
  width: 50px;
}
#oeuvre-textarea-panel {
  color: black;
  display: inline-block;
  margin-left: 30px;
}
.oeuvre-author-pencil {
  cursor: pointer;
}
#oeuvreButton {
  margin-top: 10px;
}
.buyOrGiftPanel {
  margin-bottom: 40px;
}
.author-oeuvre-link-icon {
  padding-left: 10px;
  cursor: pointer;
}
.title-table {
  margin-bottom: 20px;
  margin-top: 20px;
}
.table.books-table tbody tr td {
  border-top: none;
  text-align: center;
  vertical-align: bottom;
  padding-bottom: 50px;
}
.table.authors-table {
  table-layout: fixed;
}
.table.authors-table tbody tr td {
  border-top: none;
  text-align: center;
  vertical-align: bottom;
  padding-bottom: 50px;
}
.book-detail-main-info {
  margin-bottom: 20px;
}
.book-detail-other-info {
  margin-top: 20px;
}
div.books-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.book-collection-info-panel {
  width: 500px;
}
.book-collection-filter-panel {
  width: 500px;
  margin-bottom: 40px;
}
.book-detail-info-table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
table.book-detail-info-table > tbody > tr > td {
  padding-top: 30px;
  width: 50%;
}
.book-detail-small-info-panel {
  width: 290px;
  background-color: #ffffff;
}
.book-detail-small-info-panel > legend {
  border: none;
  margin-bottom: 10px;
}
.book-detail-small-info-panel > table > tbody > tr > td:nth-child(2) {
  width: 100%;
  text-align: left;
  padding-left: 10px;
}
.book-detail-small-info-panel > table > tbody > tr > td:nth-child(1) {
  white-space: nowrap;
}
table.book-detail-main-info-table td {
  padding: 2px;
}
table.book-detail-info-table td {
  vertical-align: top;
}
.book-detail-summary {
  margin-top: 20px;
  text-align: justify;
  width: 96%;
}
.book-detail-summary p {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.book-detail-div {
  /*left: 0;*/
  overflow: scroll;
  position: fixed;
  z-index: 999;
  top: 0px;
  background-color: #ffffff;
  border: 10px solid #2d6ca2;
  right: -700px;
  width: 700px;
  height: 100vh;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.26);
  /*border: solid 1px @secondary-color;*/
}
.book-detail-close {
  position: fixed;
  width: 700px;
  color: #ffffff;
  font-family: "vincent";
  background-color: #2d6ca2;
}
.book-sliding-panel-title {
  margin-top: 0px;
  margin-left: 40px;
}
.book-detail-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
}
.pagination {
  padding-top: 40px;
  width: 100%;
}
#book-detail-coverimage {
  float: left;
  margin-left: 10px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.26);
}
.book-details-info-container.material-card {
  width: 420px;
  float: right;
  margin-top: 0;
  margin-right: 15px;
}
.bookCoverLink {
  width: 142px;
  max-height: 210px;
}
.imageLinkWrapper {
  cursor: pointer;
  width: 142px;
  max-height: 245px;
  display: table-cell;
  vertical-align: middle;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.imageLinkWrapper:hover {
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.26);
  transform: scale(1.05, 1.05) translate3d(0, 0, 0);
}
.authorCoverLink {
  width: 142px;
  cursor: pointer;
  max-height: 210px;
}
/*END BOOKS*/
/*AUTHOR*/
.info-container {
  color: #2d6ca2;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.author-image-div {
  margin-left: 10px;
  margin-right: 15px;
  float: left;
  margin-bottom: 20px;
}
.author-oeuvre-linked {
  color: red;
}
/*END AUTHOR*/
.list-container {
  width: 88%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.list-merge-container {
  margin-top: 20px;
  background-color: #eb9316;
  width: 100%;
  border-radius: 5px !important;
  color: #ffffff;
  padding-bottom: 10px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.26);
}
.editListPanel {
  margin-top: 20px;
}
.selectMergePublisher {
  width: 20%;
}
/*PAGINATION*/
.pagination li {
  background-color: #428bca;
}
/*END PAGINATION*/
.loginLabel {
  margin-right: 10px;
}
.loginPanel {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}
.loginButton {
  margin-left: 10px;
}
/*CREATE USER*/
.createUserPanel {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}
/*.createUserPanel input {
  color: @accent-color;
}*/
/*END CREATE USER*/
.ui-widget * {
  outline: none;
}
/*TABS*/
.tab-container {
  margin-top: 20px;
  width: 90%;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
}
.tab-container fieldset legend {
  color: #2d6ca2;
  border-bottom: 1px solid #2d6ca2;
}
.form-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.filterDialog {
  background-color: #ffffff;
}
.label-gray {
  color: #aaa;
}
.tab-content {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 10px;
  background-color: #ffffff;
  color: #2d6ca2;
}
ul.nav li a {
  color: #2d6ca2;
  background-color: #1D2326;
}
.drawer-icon {
  float: left;
  width: 40px;
  margin-right: 10px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
ul.nav li a:hover {
  color: #ffffff;
  background-color: #2d6ca2;
  border: 1px solid #2d6ca2;
}
.nav-tabs {
  font-family: "vincent";
  margin-bottom: 0;
  border-bottom: none;
}
/*END TABS*/
/*GENRES*/
.genres-container {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  cursor: pointer;
}
.genre-listitem {
  /*border-radius: 25px;*/
  cursor: pointer;
  padding-left: 10px;
}
.genres-header {
  padding-left: 16px;
}
.well {
  background-color: #ffffff;
  background: #ffffff;
  color: #2d6ca2;
}
/*END GENRES*/
/*REVIEW STARS*/
.animated {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
}
.stars {
  margin: 20px 0;
  font-size: 24px;
  color: #d17581;
}
.reading-date-plus {
  cursor: pointer;
}
.reading-date-min {
  cursor: pointer;
}
#reading-dates-table tbody tr {
  margin: 10px;
}
/*NAVBAR*/
.search-box-table {
  margin-top: 7px;
}
.navbar-default {
  background-color: #2d6ca2;
  border-color: #2d6ca2;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.26);
}
.navbar-inner {
  background-color: #2d6ca2;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  background-color: #2d6ca2;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #2d6ca2;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #2d6ca2;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #2d6ca2;
}
.navbar-default .navbar-toggle {
  border-color: #2d6ca2;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #2d6ca2;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #2d6ca2;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #2d6ca2;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #ffffff;
  background-color: #2d6ca2;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  background-color: #ffffff;
  color: #2d6ca2;
  background-image: none;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #ffffff;
  color: #2d6ca2;
  background-image: none;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
ul.nav li a:hover {
  border: none;
}
.dropdown-menu {
  background: #2d6ca2;
}
div.navbar-collapse {
  background-color: #2d6ca2;
}
a.navbar-brand {
  background-color: #2d6ca2;
  font-family: "baron";
}
div.container-fluid {
  background-color: #2d6ca2;
}
/*AUTOCOMPLETE*/
.autocomplete-suggestions {
  border: 1px solid #999;
  background: #ffffff;
  overflow: auto;
}
.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
  color: #2d6ca2;
}
.autocomplete-selected {
  background: #F0F0F0;
}
.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399FF;
}
.autocomplete-group {
  padding: 2px 5px;
}
.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000;
}
.bootstrap-dialog-message {
  color: #2d6ca2;
}
#publisherEditList_filter {
  color: #2d6ca2;
}
.isloading-wrapper.isloading-right {
  margin-left: 10px;
}
.isloading-overlay {
  text-align: center;
}
.isloading-overlay .isloading-wrapper {
  background: #ffffff;
  -webkit-border-radius: 7px !important;
  -webkit-background-clip: padding-box !important;
  -moz-border-radius: 7px !important;
  -moz-background-clip: padding;
  border-radius: 7px !important;
  background-clip: padding-box;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 300px;
  color: black;
}
.material-card {
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.26);
  margin: 10px;
}
.material-card-title {
  font-family: "vincent";
  width: 100%;
  padding-left: 10px;
  color: #ffffff;
  background-color: #2d6ca2;
}
.material-card-content {
  padding: 10px;
  background-color: #ffffff;
  width: 100%;
}
.card-row {
  width: 100%;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.card-column-left {
  float: left;
}
.card-column-right {
  overflow: hidden;
}
.error-message {
  background-color: #D75141;
  color: #ffffff;
}
