<fieldset ng-controller="BookExtrasController">

    <legend>Boek extras</legend>
    <div class="form-container">
        <!-- COVER PRICE -->
        <div class="form-group">
            <label class="control-label col-md-3">Cover prijs:</label>

            <div class="col-md-2">
                <select class="input-sm form-control" ng-model="container.model.coverPriceCurrency"
                        ng-options="currency.value as currency.name for currency in data.currencies"></select>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="cover prijs" ng-model="container.model.coverPrice"
                       type="number"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">Pagina's:</label>

            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="pagina's" ng-model="container.model.pages"
                       type="number"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">Druk:</label>

            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="druk" ng-model="container.model.print"
                       type="number"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">Vertaler:</label>

            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="vertaler" ng-model="container.model.translator"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">Conditie:</label>

            <div class="col-md-2">
                <select class="input-sm form-control" ng-model="container.model.state"
                        ng-options="state.value as state.name for state in data.states"></select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">Samenvatting:</label>

            <div class="col-md-3">
                <textarea class="form-control" ng-model="container.model.summary"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">Oude tags:</label>

            <div class="col-md-3">
                <textarea class="form-control" ng-model="container.model.oldTags"/>
            </div>
        </div>
    </div>

    <legend>Serie</legend>
    <div class="form-container">
        <div class="form-group">
            <label class="control-label col-md-3">Boeken reeks:</label>

            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="reeks" ng-model="container.model.bookSeries"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Uitgever reeks:</label>

            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="vertaler"
                       ng-model="container.model.publisherSeries"/>
            </div>
        </div>
    </div>
</fieldset>
