<wizard-steps steps="steps" progress-step="progressStep" current-step="1"></wizard-steps>
<div class="create-book-div">
    <form ng-submit="submitForm()" id="wizardForm" novalidate class="form-horizontal createBookForm" autocomplete="off" files="true">
        <div dynamic-controller="currentStepwizardForm.controller" ng-show="currentStep !== undefined" ng-include="currentStep.templateUrl" onload="container = container"></div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-success" ng-disabled="wizardForm.$invalid">Volgende</button>
        </div>
    </div>
    </form>
</div>