@font-face {
  font-family: "vincent";
  src: url("/BiblioMania/assets/fonts/Vincent-Regular.otf") format("opentype");
}
@font-face {
  font-family: "baron";
  src: url("/BiblioMania/assets/fonts/baron_black.otf") format("opentype");
}
@font-face {
  font-family: "vincent";
  font-weight: bold;
  src: url("/BiblioMania/assets/fonts/Vincent-Regular.otf") format("opentype");
}
.input-group-addon.glyphicon {
  top: 0;
}
input.no-spinner::-webkit-inner-spin-button,
input.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input.no-spinner {
  -moz-appearance: textfield;
}
.input-width-sm {
  width: 210px;
}
.input-width-md {
  width: 310px;
}
.input-width-lg {
  width: 410px;
}
.form-group.form-group-small {
  width: 95px;
  min-width: inherit;
}
.form-group.form-group-large {
  width: 325px;
  min-width: inherit;
}
.form-group.form-group-extra-large {
  width: 440px;
  min-width: inherit;
}
.no-round-corners {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.round-corners {
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
}
.half-round-corners-left {
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.half-round-corners-right {
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
input,
button {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
img {
  background: url('images/questionCover.png') no-repeat;
}
input {
  color: #2d6ca2;
}
.input-xs {
  height: 22px;
  padding: 5px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
body {
  font-family: "helvetica";
  color: #2d6ca2;
  font-size: 16px;
  background-color: #428bca;
  text-align: center;
}
table.table-hover tbody tr {
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}
.bookMark.background-warning {
  background-color: #ec971f;
}
div.tableDiv {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}
small.help-block {
  color: #2d6ca2;
}
select {
  color: #ffffff;
}
.modal-body {
  color: #ffffff;
}
.clickable {
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}
.clickable:hover {
  color: black;
}
.editImagePencilIcon {
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}
.create-author-dialog .modal-dialog {
  width: 90%;
  height: 90%;
  min-width: 800px;
  min-height: 800px;
  overflow: auto;
}
.editImagePencilIcon:hover {
  color: white;
}
a:hover {
  color: black;
  background-color: #def;
}
.datepicker .multidatepicker {
  color: #ffffff;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.title-panel {
  width: 100%;
  padding-left: 20px;
  background-color: #2d6ca2;
  color: #ffffff;
  font-family: "vincent";
  font-size: 36px;
  height: 58px;
}
.title-panel-buttons {
  margin-right: 10px;
}
div.editBookPanel {
  cursor: pointer;
}
legend {
  color: #2d6ca2;
}
.text-align-right {
  text-align: right;
}
.text-align-left {
  text-align: left;
}
table.left-right-align td:nth-child(2) {
  text-align: right;
}
table.left-right-align td:nth-child(1) {
  text-align: left;
}
/*PLACEHOLDERS*/
.form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ffffff;
  opacity: 1;
}
.form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ffffff;
  opacity: 1;
}
.form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ffffff;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ffffff;
}
/*END PLACEHOLDERS*/
.contentContainer {
  text-align: left;
  display: inline-block;
  margin-top: 100px;
  width: 1200px;
  background-color: #ffffff;
  border: 5px solid #2d6ca2;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.26);
}
.contentPanel {
  padding-right: 50px;
  padding-left: 50px;
}
/*BOOKS*/
.top-book-panel {
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 20px;
}
.book-panel {
  text-align: center;
}
.book-filters-table {
  width: 100%;
  margin-bottom: 20px;
}
.book-filters-table tbody tr td {
  padding: 5px;
}
legend.sub-border {
  width: inherit;
  /* Or auto */
  padding: 0 10px;
  /* To give a bit of padding on the left and right */
  border-bottom: none;
}
.createBookDiv {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}
.create-book-div {
  width: 830px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
.google-image-search-table tbody tr td {
  padding: 10px;
}
.googleSearchLoader {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;
}
.cover-info-filter-table tbody tr td {
  padding-left: 10px;
}
.cover-info-top-panel {
  margin-bottom: 20px;
}
.google-selected-image {
  border: 8px solid deepskyblue;
}
.green-linked-div {
  color: #ffffff;
  background-color: green;
  padding: 3px 10px;
  border-radius: 3px !important;
  margin-left: 10px;
  text-align: center;
}
.author-oeuvre-linked-book-title {
  color: #428bca;
}
button.searchButton {
  height: 36px;
  width: 50px;
}
#oeuvre-textarea-panel {
  color: black;
  display: inline-block;
  margin-left: 30px;
}
#oeuvre-textarea {
  width: 100%;
}
.oeuvre-author-pencil {
  cursor: pointer;
}
#oeuvreButton {
  margin-top: 10px;
}
.buyOrGiftPanel {
  margin-bottom: 40px;
}
.author-oeuvre-link-icon {
  padding-left: 10px;
  cursor: pointer;
}
.title-table {
  margin-bottom: 20px;
  margin-top: 20px;
}
.table.books-table tbody tr td {
  border-top: none;
  text-align: center;
  vertical-align: bottom;
  padding-bottom: 50px;
}
.table.authors-table tbody tr td {
  border-top: none;
  text-align: center;
  vertical-align: bottom;
  padding-bottom: 50px;
}
.book-detail-main-info {
  height: 15px;
  margin-bottom: 20px;
  margin-top: 77px;
}
.book-detail-other-info {
  margin-top: 20px;
}
.book-detail-title-panel {
  font-family: "helvetica";
  font-size: 20px;
}
div.books-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.book-collection-info-panel {
  width: 50%;
}
.book-collection-filter-panel {
  margin-bottom: 40px;
  width: 46%;
}
.book-detail-info-table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
table.book-detail-info-table > tbody > tr > td {
  padding-top: 30px;
  width: 50%;
}
.book-detail-small-info-panel {
  width: 290px;
  background-color: #ffffff;
}
.book-detail-small-info-panel.card-column-left {
  float: left;
  margin: 0px 0px 15px;
  width: 48%;
}
.book-detail-small-info-panel.card-column-right {
  overflow: hidden;
  width: 48%;
  margin-left: auto;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 15px;
}
.book-detail-small-info-panel > legend {
  border: none;
  margin-bottom: 10px;
}
.book-detail-small-info-panel > table > tbody > tr > td:nth-child(2) {
  width: 100%;
  text-align: left;
  padding-left: 10px;
}
.book-detail-small-info-panel > table > tbody > tr > td:nth-child(1) {
  white-space: nowrap;
}
table.book-detail-main-info-table td {
  padding: 2px;
}
table.book-detail-info-table td {
  vertical-align: top;
}
.book-detail-summary.material-card {
  margin-top: 20px;
  text-align: justify;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.book-detail-summary p {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.book-detail-div {
  /*left: 0;*/
  top: 0;
  background-color: #ffffff;
  border: 10px solid #2d6ca2;
  right: -700px;
  width: 700px;
  height: 95%;
  margin-top: 50px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.26);
  /*border: solid 1px @secondary-color;*/
}
.libraryInformationSlidingPanel.sliding-panel {
  left: -410px;
  width: 400px;
  top: 100px;
  overflow: inherit;
  background-color: #ffffff;
}
.libraryFilterSlidingPanel.sliding-panel {
  left: -510px;
  width: 500px;
  top: 141px;
  overflow: inherit;
  background-color: #ffffff;
  z-index: 998;
}
.filter-input {
  margin-bottom: 12px;
}
.slidingPanelTitle {
  height: 34px;
  line-height: 34px;
}
.libraryInformationBookmark.bookmark {
  margin-top: -135px;
}
.libraryInformationBookmark.bookmark .info-icon {
  background-image: url("/BiblioMania/images/info_icon.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.libraryInformationBookmark.bookmark .info-icon:hover {
  background-image: url("/BiblioMania/images/info_icon_orange.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.libraryFilterBookmark.bookmark .info-icon {
  background-image: url("/BiblioMania/images/filter_icon.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.libraryFilterBookmark.bookmark .info-icon:hover {
  background-image: url("/BiblioMania/images/filter_icon_orange.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.bookMark {
  height: 34px;
  width: 50px;
  margin-left: 100%;
  background-color: #2d6ca2;
  z-index: 999;
  position: relative;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.26);
  float: left;
}
.info-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  margin-left: 19px;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.font-weight-700 {
  font-weight: 700;
}
.icon {
  width: 20px;
  height: 20px;
}
.sliding-panel {
  overflow: scroll;
  position: fixed;
  z-index: 999;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.26);
}
.book-detail-close {
  position: fixed;
  width: 700px;
  color: #ffffff;
  font-family: "vincent";
  background-color: #2d6ca2;
}
.book-sliding-panel-title {
  margin-top: 0px;
  margin-left: 40px;
}
.book-detail-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
}
.pagination {
  padding-top: 40px;
  width: 100%;
}
#book-detail-coverimage {
  float: left;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.26);
}
.book-details-info-container.material-card {
  width: 70%;
  float: right;
  margin-top: 0;
  margin-right: 0px;
  margin-left: 0px;
}
.bookCoverLink {
  width: 142px;
  max-height: 210px;
}
.ic_container.imageLinkWrapper {
  cursor: pointer;
  width: 142px;
  max-height: 245px;
  vertical-align: middle;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  margin: 0px;
  bottom: 0px;
}
.book-card-wrapper {
  width: 142px;
  height: 245px;
  margin: 8px;
  display: inline-block;
  vertical-align: bottom;
}
.warning-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
}
.imageLinkWrapper:hover {
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.26);
  transform: scale(1.05, 1.05) translate3d(0, 0, 0);
}
.authorCoverLink {
  width: 142px;
  cursor: pointer;
  max-height: 210px;
}
/*END BOOKS*/
/*AUTHOR*/
.info-container {
  color: #2d6ca2;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.author-image-div div.material-card-content {
  padding: 0px;
}
.author-image-div {
  margin-left: 10px;
  margin-right: 15px;
  float: left;
  margin-bottom: 20px;
}
.author-oeuvre-linked {
  color: red;
}
.author-image-upload-div {
  clear: both;
  margin-left: 20px;
  margin-top: 20px;
}
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.author-image-div div.author-image-edit-wrapper {
  visibility: hidden;
}
.author-image-div:hover div.author-image-edit-wrapper {
  cursor: pointer;
  text-align: center;
  width: 100%;
  height: 100%;
  visibility: visible;
  background: rgba(0, 0, 0, 0.6);
}
.author-image-edit-icon {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}
/*END AUTHOR*/
.list-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.list-merge-container {
  margin-top: 20px;
  background-color: #eb9316;
  width: 100%;
  border-radius: 5px !important;
  color: #ffffff;
  padding-bottom: 10px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.26);
}
.editListPanel {
  margin-top: 20px;
}
.selectMergePublisher {
  width: 20%;
}
/*PAGINATION*/
.pagination li {
  background-color: #428bca;
}
/*END PAGINATION*/
.loginLabel {
  margin-right: 10px;
}
.loginPanel {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}
.loginButton {
  margin-left: 10px;
}
/*CREATE USER*/
.createUserPanel {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}
/*.createUserPanel input {
  color: @accent-color;
}*/
/*END CREATE USER*/
.ui-widget * {
  outline: none;
}
/*TABS*/
.tab-container {
  margin-top: 20px;
  width: 90%;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
}
.tab-container fieldset legend {
  color: #2d6ca2;
  border-bottom: 1px solid #2d6ca2;
}
.form-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.form-container .control-label {
  text-align: left;
  font-weight: normal;
}
.form-content {
  padding-left: 50px;
  margin-bottom: 50px;
}
.form-subtitle {
  font-size: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px;
}
.detail-panel {
  padding-left: 0px;
}
.form-subtitle-button {
  float: right;
  margin-top: -25px;
}
.form-subtitle-label {
  float: right;
  margin-top: -20px;
}
.filterDialog {
  background-color: #ffffff;
}
.label-gray {
  color: #aaa;
}
.label {
  border-radius: 2px !important;
  padding: 4px;
  text-align: center;
}
.linkLabel:hover {
  cursor: pointer;
  background-color: #777;
}
.tab-content {
  padding: 10px;
  background-color: #ffffff;
  color: #2d6ca2;
}
ul.nav li a {
  color: #2d6ca2;
}
.drawer-icon {
  float: left;
  width: 40px;
  margin-right: 10px;
}
.nav-tabs {
  font-family: "vincent";
  margin-bottom: 0;
  border-bottom: none;
}
/*END TABS*/
/*GENRES*/
.genres-container {
  background: whitesmoke;
  border: 1px solid lightgray;
  border-radius: 5px;
}
/*END GENRES*/
/*REVIEW STARS*/
.animated {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
}
.stars {
  margin: 20px 0;
  font-size: 24px;
  color: #d17581;
}
.reading-date-plus {
  cursor: pointer;
}
.reading-date-min {
  cursor: pointer;
}
#reading-dates-table tbody tr {
  margin: 10px;
}
/*NAVBAR*/
.search-box-table {
  margin-top: 7px;
  margin-right: 20px;
}
.navbar-default {
  background-color: #2d6ca2;
  border-color: #2d6ca2;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.26);
}
.navbar-inner {
  background-color: #2d6ca2;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  background-color: #2d6ca2;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #2d6ca2;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #2d6ca2;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #2d6ca2;
}
.navbar-default .navbar-toggle {
  border-color: #2d6ca2;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #2d6ca2;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #2d6ca2;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #2d6ca2;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}
.open .dropdown-menu > li > a {
  color: #2d6ca2;
  background-color: #ffffff;
}
.open .dropdown-menu > li > a:hover {
  background-color: #2d6ca2;
  color: #ffffff;
  background-image: none;
  border: none;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #2d6ca2;
  color: #ffffff;
  background-image: none;
}
.dropdown-menu {
  background: #ffffff;
}
.open .dropdown-menu.navigation-dropdown-menu > li > a {
  color: #ffffff;
  background-color: #2d6ca2;
}
.open .dropdown-menu.navigation-dropdown-menu > li > a:hover {
  background-color: #ffffff;
  color: #2d6ca2;
  background-image: none;
}
.dropdown-menu.navigation-dropdown-menu > li > a:hover,
.dropdown-menu.navigation-dropdown-menu > li > a:focus {
  background-color: #ffffff;
  color: #2d6ca2;
  background-image: none;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
ul.nav li a:hover {
  border: none;
}
.dropdown-menu.navigation-dropdown-menu {
  background: #2d6ca2;
}
div.navbar-collapse {
  background-color: #2d6ca2;
}
a.navbar-brand {
  background-color: #2d6ca2;
  font-family: "baron";
}
/*AUTOCOMPLETE*/
.autocomplete-suggestions {
  border: 1px solid #999;
  background: #ffffff;
  overflow: auto;
}
.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
  color: #2d6ca2;
}
.autocomplete-selected {
  background: #F0F0F0;
}
.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399FF;
}
.autocomplete-group {
  padding: 2px 5px;
}
.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000;
}
.bootstrap-dialog-message {
  color: #2d6ca2;
}
#publisherEditList_filter {
  color: #2d6ca2;
}
.isloading-wrapper.isloading-right {
  margin-left: 10px;
}
.isloading-overlay {
  text-align: center;
}
.isloading-overlay .isloading-wrapper {
  background: #ffffff;
  -webkit-border-radius: 7px !important;
  -webkit-background-clip: padding-box !important;
  -moz-border-radius: 7px !important;
  -moz-background-clip: padding;
  border-radius: 7px !important;
  background-clip: padding-box;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 300px;
  color: black;
}
.material-card {
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.26);
  margin: 10px;
}
.material-card-title {
  font-family: "vincent";
  width: 100%;
  padding-left: 10px;
  color: #ffffff;
  background-color: #2d6ca2;
}
.material-card-content {
  padding: 10px;
  background-color: #ffffff;
  width: 100%;
  font-weight: normal;
}
.card-row {
  width: 100%;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}
.card-column-left {
  float: left;
}
.card-column-right {
  float: right;
  overflow: hidden;
}
.form-error-message {
  margin-top: 5px;
  color: #D75141;
}
.error-message {
  background-color: #D75141;
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 88%;
}
.form-group.required .control-label:after {
  content: "*";
  color: red;
}
.editable-click,
a.editable-click,
a.editable-click:hover {
  text-decoration: none;
  border: none;
}
.detailPanelTrigger {
  cursor: pointer;
}
.detailPanelTrigger:hover {
  cursor: pointer;
  color: #ff0000;
}
.btn-primary {
  background-color: #428bca;
}
.btn-primary:hover {
  background-color: #3276b1;
}
.btn-grey {
  background-color: #CCC;
  border-color: #999;
  color: black;
}
.btn-default-no-hover:active:hover,
.btn-default-no-hover:active,
.btn-default-no-hover:active:focus,
.btn-default-no-hover:target {
  cursor: default !important;
  background-color: #FFFFFF;
  color: #333333 !important;
  text-decoration: none !important;
  background-position: 0 !important;
  transition: none !important;
  background-image: none !important;
  border: 1px solid #ccc !important;
}
.form-control::-webkit-input-placeholder {
  color: #ccc;
}
.form-control:-moz-placeholder {
  color: #ccc;
}
.form-control::-moz-placeholder {
  color: #ccc;
}
.form-control:-ms-input-placeholder {
  color: #ccc;
}
.autocomplete-suggestion {
  text-align: left;
}
.modal-footer {
  clear: both;
}
.modal-body {
  color: #2d6ca2;
}
.gi-1x {
  font-size: 1em;
}
.gi-1_5x {
  font-size: 1.5em;
}
.gi-2x {
  font-size: 2em;
}
.gi-3x {
  font-size: 3em;
}
.gi-4x {
  font-size: 4em;
}
.gi-5x {
  font-size: 5em;
}
