.navbar-default {
  background-color: #2d6ca2;
  border-color: #428bca;
  z-index: 1070;
  border: none;
}
.navbar-default .navbar-brand {
  color: #FFFFFF;
  background-color: #2d6ca2;
  font-family: baron;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
  background-color: #2d6ca2;
}
.navbar-default .navbar-text {
  color: #FFFFFF;
  background-color: #2d6ca2;
}
.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
  background-color: #2d6ca2;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #2d6ca2;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #2d6ca2;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #FFFFFF;
  background-color: #2d6ca2;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #428bca;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #2d6ca2;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #428bca;
  background-image: none;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #428bca;
  background-image: none;
}
.navbar-default .navbar-toggle {
  border-color: #428bca;
  background-color: #2d6ca2;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #428bca;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #FFFFFF;
  background-color: #2d6ca2;
}
.navbar-default .navbar-link {
  color: #FFFFFF;
  background-color: #2d6ca2;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
  background-color: #2d6ca2;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #FFFFFF;
    background-color: #2d6ca2;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #2d6ca2;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #428bca;
  }
}