<!-- JCAPSLIDE -->
<script type="text/javascript" src="assets/lib/jCapSlide/jquery.capSlide.js"></script>
<link href="assets/lib/jCapSlide/css/style.css">

<div class="books-container">
    <div class="contentPanel">

        <errorcontainer></errorcontainer>


        <div class="top-book-panel">
            <div style="clear: both">
                <div class="btn-group pull-left" role="group" style="margin-left: 10px">
                    <button ng-class="vm.listView ? 'btn-grey' : 'btn-primary'" type="button" ng-click="vm.setListView(false)" class="btn btn-sm half-round-corners-left"><span class="glyphicon glyphicon-th"></span></button>
                    <button ng-class="vm.listView ? 'btn-primary' : 'btn-grey'" type="button" ng-click="vm.setListView(true)" class="btn btn-sm half-round-corners-right"><span class="glyphicon glyphicon-th-list"></span></button>
                </div>
                <div class="input-group" style="width: 200px; float: right">
                    <input id="searchAuthorsInput" ng-model="vm.searchAuthorsQuery" type="text" class="form-control half-round-corners-left" placeholder="Search" name="criteria" aria-describedby="basic-addon1">
                    <span class="input-group-addon glyphicon glyphicon-search" id="basic-addon1"></span>
                </div>
            </div>
        </div>

        <div class="book-panel">
            <img src="/BiblioMania/images/ajax-loader.gif" ng-show="loading">
            <div ng-show="!vm.loading && !vm.listView">
                <table class="table table-striped" style="table-layout: fixed">
                    <thead sort-header sort-options="orderValues" current-predicate="predicate" reverse-order="reverseOrder"></thead>
                </table>
                <image-card use-sprite-image="true" ng-repeat="author in vm.authors | filter: vm.search | orderBy:predicate:reverseOrder" model="author" on-image-click="vm.goToAuthorDetails(author)" show-edit-button="false" backup-text="{{ author.name.firstname + ' ' + author.name.lastname }}"></image-card>
            </div>
            <table ng-show="!vm.loading && vm.listView" class="table table-striped table-hover" style="table-layout: fixed">
                <thead sort-header sort-options="orderValues" current-predicate="predicate" reverse-order="reverseOrder"></thead>
                <tbody style="text-align: left">
                <tr style="cursor: pointer" ng-repeat="author in vm.authors | filter: vm.search | orderBy:predicate:reverseOrder" ng-click="vm.goToAuthorDetails(author)">
                    <td>{{ author.name.firstname }}</td>
                    <td>{{ author.name.lastname }}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>