<div class="create-book-div">
    <ng-form id="authorForm" name="authorForm" novalidate>
        <errorcontainer></errorcontainer>
        <fieldset style="text-align: left;width: 900px;">
            <div class="row">
                <div class="col-md-3">
                    <button type="button" class="btn btn-sm round-corners btn-default margin-bottom-15"
                            ng-click="vm.openSelectImageDialog()">Selecteer afbeelding
                    </button>
                    <img class="max-width-100 max-height-100" src-with-fallback="{{ vm.model.image }}"/>
                </div>
                <div class="col-md-9">
                    <name ng-model="vm.model.name" submit-attempted="vm.submitAttempted"></name>
                    <div class="text-warning" ng-show="filteredAuthors.length">
                        <i class="fa fa-exclamation-circle"></i> {{ 'translation.existing.authors.found' | translate }}
                    </div>
                    <table ng-show="filteredAuthors.length" class="table table-striped" style="table-layout: fixed">
                        <tbody style="text-align: left">
                        <tr ng-repeat="author in vm.authors | filter: vm.searchAuthors as filteredAuthors">
                            <td>{{ author.name.firstname }}</td>
                            <td>{{ author.name.infix }}</td>
                            <td>{{ author.name.lastname }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <date label="Geboorte jaar" ng-model="vm.model.dateOfBirth"
                          submit-attempted="vm.submitAttempted"></date>
                    <date label="Sterfte jaar" ng-model="vm.model.dateOfDeath"
                          submit-attempted="vm.submitAttempted"></date>
                </div>
            </div>
            <div class="row col-md-12" style="margin-top: 30px">
                <button id="create-author-save-button" class="btn btn-primary" ng-click="vm.submitForm(authorForm.$valid)">Save</button>
            </div>
        </fieldset>
    </ng-form>
</div>