<div class="create-book-div">
    <errorcontainer></errorcontainer>

    <div class="form-subtitle">
        <div>{{ model.name.firstname + " " + model.name.lastname }}</div>
    </div>
    <div class="form-content">
        <create-author author-model="model"></create-author>
    </div>


    <div class="form-subtitle">
        <div>Oeuvre</div>
        <button type="button" class="btn-default btn btn-sm round-corners form-subtitle-button"
                ng-click="showAddOeuvreItemsDialog()"><span class="glyphicon glyphicon-plus"></span> Voeg items toe
        </button>
    </div>
    <div class="form-content">
        <table id="author-oeuvre-table" class="table table-hover">
            <thead>
            <tr>
                <th>Titel</th>
                <th>Publicatiejaar</th>
                <th>Verwijderen</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="oeuvreItem in oeuvre" style="cursor: pointer;">
                <td>
                    {{ oeuvreItem.title }}
                </td>
                <td>
                    {{ oeuvreItem.publicationYear }}
                </td>
                <td style="text-align: center">
                    <button ng-click="deleteOeuvreItem(oeuvreItem)" type="button"
                            class="btn btn-sm btn-default round-corners"><span class="glyphicon glyphicon-trash"
                                                                               aria-hidden="true"></span></button>
                </td>
                <td>
                    <label class="label" ng-class="linkLabel(oeuvreItem)">{{ linkText(oeuvreItem) }}</label>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="form-subtitle">Boeken</div>
    <div class="form-content">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Titel</th>
                <th>isbn</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="book in books">
                <td>{{ book.title }}</td>
                <td>{{ book.isbn }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>