<div class="create-book-div">
    <errorcontainer></errorcontainer>

    <div class="form-subtitle">
        <div>{{ model.name.firstname + " " + model.name.lastname }}</div>
    </div>
    <div class="form-content">
        <create-author author-model="model"></create-author>
    </div>

    <div class="form-subtitle">
        <div>Oeuvre</div>
        <button type="button" class="btn-default btn btn-sm round-corners form-subtitle-button"
                ng-click="showAddOeuvreItemsDialog()"><span class="glyphicon glyphicon-plus"></span> Voeg items toe
        </button>
    </div>
    <div class="form-content">
        <table id="author-oeuvre-table" class="table">
            <thead sort-header sort-options="oeuvreConfig.orderValues" current-predicate="oeuvreConfig.predicate" reverse-order="oeuvreConfig.reverseOrder"></thead>
            <tbody>
            <tr ng-repeat="oeuvreItem in oeuvre | orderBy:oeuvreConfig.predicate:oeuvreConfig.reverseOrder">
                <td>
                    {{ oeuvreItem.title }}
                </td>
                <td>
                    {{ oeuvreItem.publicationYear }}
                </td>
                <td>
                    <label class="label" ng-class="linkLabel(oeuvreItem)">{{ oeuvreItem.state}}</label>
                </td>
                <td style="text-align: center">
                    <button ng-click="goToOeuvreItem(oeuvreItem)" type="button" class="btn btn-xs btn-default round-corners">
                        <span class="fa fa-pencil" aria-hidden="true"></span>
                    </button>
                    <button ng-click="deleteOeuvreItem(oeuvreItem)" type="button"
                            class="btn btn-xs btn-default round-corners"><span class="glyphicon glyphicon-trash"
                                                                               aria-hidden="true"></span></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="form-subtitle">Boeken</div>
    <div class="form-content">
        <book-list books="books"></book-list>
    </div>
</div>