<div>
    <div class="modal-header">
        <h3 class="modal-title">Auteur selectie</h3>
    </div>
    <div class="modal-body" ng-controller="AuthorSelectionController">
        <div class="input-group" style="width: 200px; float: right">
            <input id="searchAuthorsInput" ng-model="authorSelectionModal.searchAuthorsQuery" type="text"
                   class="form-control half-round-corners-left" placeholder="Search" name="criteria"
                   aria-describedby="basic-addon1">
            <span class="input-group-addon glyphicon glyphicon-search" id="basic-addon1"></span>
        </div>
        <div class="overflow-auto" style="max-height: 400px; width: 100%;">
            <table class="table table-hover">
                <thead>
                <tr style="cursor: pointer">
                    <th ng-click="order('name.firstname')">
                        Voornaam
                        <i class="fa" ng-show="authorSelectionModal.predicate === 'name.firstname'" ng-class="authorSelectionModal.reverse ? 'fa-caret-up' : 'fa-caret-down'"></i>
                    </th>
                    <th ng-click="order('name.infix')">
                        Tussen
                        <i class="fa" ng-show="authorSelectionModal.predicate === 'name.infix'" ng-class="authorSelectionModal.reverse ? 'fa-caret-up' : 'fa-caret-down'"></i>
                    </th>
                    <th ng-click="order('name.lastname')">
                        Naam
                        <i class="fa" ng-show="authorSelectionModal.predicate === 'name.lastname'" ng-class="authorSelectionModal.reverse ? 'fa-caret-up' : 'fa-caret-down'"></i>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="author in authorSelectionModal.data.authors | filter: search | orderBy:authorSelectionModal.predicate:authorSelectionModal.reverse" ng-click="selectAuthor(author)" style="cursor: pointer">
                    <td>{{ author.name.firstname }}</td>
                    <td>{{ author.name.infix }}</td>
                    <td>{{ author.name.lastname }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" ng-click="$dismiss()">Annuleer</button>
    </div>
</div>