select.input-sm.form-control.operator-select {
  width: 30%;
  float: left;
}
.form-control.filterinput.operator-input {
  width: 60%;
  float: right;
}
.filter-form-container {
  float: left;
  width: 48%;
}
.filters-list {
  list-style-type: none;
  text-align: left;
  float: left;
  padding: 20px;
}
.filters-list dd div label {
  margin-left: 10px;
}
.filters-list dd div input {
  float: left;
}
.filters-list dt {
  margin-bottom: 10px;
}
.multiselect-container.dropdown-menu {
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}
