<div>
    <div class="modal-header">
        <h3 class="modal-title">Voeg oeuvre items toe</h3>
    </div>
    <div class="modal-body" style="overflow: auto; max-height: 400px;">
        <div ng-form="oeuvreForm">
            <span ng-show="oeuvreForm.addOeuvre.$error.formatError && oeuvreForm.addOeuvre.$dirty" class="form-error-message help-inline"><i class="fa fa-exclamation-circle"></i> Fout formaat</span>
              <textarea ng-model="oeuvreItemsToAdd"
                        placeholder="<jaar> - <titel>" id='add-oeuvre-textarea'
                        name="addOeuvre" cols="80" rows="5"
                        ui-validate="{formatError : 'validateOeuvreList($value)'}"
                        style="width: 100%"></textarea>

            <button ng-disabled="oeuvreForm.$invalid || oeuvreItemsToAdd === undefined" type="button" class='btn btn-primary' id='oeuvreButton' ng-click="addOeuvreItems()">Voeg items toe</button>

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" ng-click="$dismiss()">Annuleer</button>
    </div>
</div>