<div class="panel panel-green {{vm.getKey()}}" id="{{vm.getKey()}}">
    <div class="panel-heading">
        <div class="row">
                <i class="fa {{vm.getIcon()}} fa-2x" aria-hidden="true"></i>
                <button type="button" class="close" data-target="#{{vm.getKey()}}" data-dismiss="alert"> <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
        </div>
    </div>
    <div class="panel-body">
        <p ng-bind-html="vm.getFact()">
        </p>
    </div>
</div>