<div>
    <dl class="filters-list">
        <dt>
        <h4>Boek</h4>
        </dt>
        <dt>
        <dd ng-repeat="filter in getAllBookFilters()">
            <input ng-checked="filters.selected.indexOf(filter) != -1" type="checkbox" ng-click="selectFilter($event, filter)"/> <label>{{filter.field}}</label>
        </dd>
        </dt>
    </dl>
    <dl class="filters-list">
        <dt>
        <h4>Persoonlijk</h4>
        </dt>
        <dt>
        <dd ng-repeat="filter in getAllPersonalFilters()">
            <input ng-checked="filters.selected.indexOf(filter) != -1" type="checkbox" ng-click="selectFilter($event, filter)"/> <label>{{filter.field}}</label>
        </dd>
        </dt>
    </dl>
    <dl class="filters-list">
        <dt>
        <h4>Koop/Gift</h4>
        </dt>
        <dt>
        <dd ng-repeat="filter in getAllBuyGiftFilters()">
            <input ng-checked="filters.selected.indexOf(filter) != -1" type="checkbox" ng-click="selectFilter($event, filter)"/> <label>{{filter.field}}</label>
        </dd>
        </dt>
    </dl>
</div>