<div class="book-card-wrapper">
    <div class="material-card imageLinkWrapper ic_container" style="width: {{ book.width }}">
        <div class="material-card-content" ng-click="openDetails(); $event.stopPropagation();" style="{{ bookImageStyle }}">
            <img data-toggle="tooltip" data-placement="top" title="{{ warning.message }}"
                 ng-repeat="warning in warnings" ng-click="warning.handle()" ng-src="{{ warning.icon }}" class="warning-icon clickableImage" style="top: {{ $index * 25 + 5}}px;">
        </div>
        <div class="ic_caption editBookPanel">
            <p ng-click="goToBookDetails()" class="ic_category">Edit<i class="fa fa-pencil editImagePencilIcon"></i></p>
        </div>
    </div>
</div>


