<div id="slide" class="book-detail-div sliding-panel">
    <div id="book-detail-close-div" class="book-detail-close">
        <span id="close-book-detail-icon" class="glyphicon glyphicon-arrow-right" aria-hidden="true" style="float: left;"></span>

        <h1 class="book-sliding-panel-title" id="book-detail-title"> {{book.title}}</h1>
        <h4 ng-show="book.subtitle" class="book-sliding-panel-title" id="book-detail-subtitle">{{book.subtitle}}</h4>
    </div>

    <div class="book-detail-container" id="book-detail-container">

        <div class="book-detail-main-info">
            <div class="material-card" style="float: left; margin:0px;">
                <div class="material-card-content" id="book-detail-coverimage" style="{{ imageStyle }}">
                </div>
            </div>

            <div class="material-card book-details-info-container">
                <div class="material-card-title">Info boek</div>
                <div class="material-card-content">
                    <table width="100%">
                        <tr>
                            <td>
                                <div id="star-detail"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="star-detail" class="col-md-6"></div>
                                <table width="100%">
                                    <tr ng-show="book.author">
                                        <td><label>Auteur:</label></td>
                                        <td><label>{{ book.author }}</label></td>
                                    </tr>
                                    <tr ng-show="book.isbn">
                                        <td><label>ISBN:</label></td>
                                        <td><label>{{ book.isbn }}</label></td>
                                    </tr>
                                    <tr ng-show="book.publisher">
                                        <td><label>Uitgever</label></td>
                                        <td><label>{{book.publisher}}</label></td>
                                    </tr>
                                    <tr ng-show="book.country">
                                        <td><label>Land</label></td>
                                        <td><label>{{book.country}}</label></td>
                                    </tr>
                                    <tr ng-show="book.language">
                                        <td><label>Taal</label></td>
                                        <td><label>{{book.language}}</label></td>
                                    </tr>
                                    <tr ng-show="book.publicationDate">
                                        <td><label>Publicatiedatum:</label></td>
                                        <td><label>{{helpers.dateToString(book.publicationDate)}}</label></td>
                                    </tr>
                                    <tr ng-show="book.genre">
                                        <td><label>Genre:</label></td>
                                        <td><label>{{book.genre}}</label></td>
                                    </tr>
                                    <tr ng-show="book.serie">
                                        <td><label>Boekenreeks:</label></td>
                                        <td><label>{{book.serie}}</label></td>
                                    </tr>
                                    <tr ng-show="book.publisherSerie">
                                        <td><label>Uitgeverreeks:</label></td>
                                        <td><label>{{book.publisherSerie}}</label></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>

        <div ng-show="book.summary" class="card-row" style="margin-top: 250px; clear: both">
            <div class="book-detail-summary material-card">
                <div class="material-card-title">Samenvatting</div>
                <div class="material-card-content">
                    <p id="book-detail-summary">
                        {{book.summary}}
                    </p>
                </div>
            </div>
        </div>

        <div class="card-row">
            <div class="book-detail-small-info-panel material-card card-column-left">
                <div class="material-card-title">Details</div>
                <div class="material-card-content">
                    <table width="100%" class="left-right-align">
                        <tr ng-show="book.retailPrice">
                            <td><label>Cover prijs:</label></td>
                            <td><label id='book-detail-retail-price'>{{ currencies[book.currency] + ' ' + book.retailPrice}}</label></td>
                        </tr>
                        <tr ng-show="book.pages">
                            <td><label>Pagina's:</label></td>
                            <td><label id='book-detail-number-of-pages'>{{book.pages}}</label></td>
                        </tr>
                        <tr ng-show="book.print">
                            <td><label>Druk:</label></td>
                            <td><label id='book-detail-print'>{{book.print}}</label></td>
                        </tr>
                        <tr ng-show="book.translator">
                            <td><label>Vertaler:</label></td>
                            <td><label id='book-translator'>{{book.translator}}</label></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="book-detail-small-info-panel material-card card-column-right">
                <div class="material-card-title">Persoonlijk</div>
                <div class="material-card-content">
                    <table width="100%" class="left-right-align">
                        <tr ng-show="book.owned">
                            <td><label>In collectie:</label></td>
                            <td><span id='book-detail-owned'></span></td>
                        </tr>
                        <tr>
                            <td><label>Gelezen:</label></td>
                            <td ng-show="!book.personalBookInfo.read"><img class='icon' ng-src="/BiblioMania/images/cross_error.png" /></td>
                            <td ng-show="book.personalBookInfo.read"><span class="font-weight-700">{{helpers.dateToString(book.personalBookInfo.readingDate)}}</span></td>
                        </tr>
                        <tr class="buy-info-tr" ng-show="book.personalBookInfo.buyInfo">
                            <td><label>Aanschafdatum:</label></td>
                            <td><label>{{helpers.dateToString(book.personalBookInfo.buyInfo.date)}}</label></td>
                        </tr>
                        <tr class="buy-info-tr" ng-show="book.personalBookInfo.buyInfo">
                            <td><label>Aankoopprijs:</label></td>
                            <td><label>{{currencies[book.personalBookInfo.buyInfo.currency] + ' ' + book.personalBookInfo.buyInfo.price}}</label></td>
                        </tr>
                        <tr class="buy-info-tr" ng-show="book.personalBookInfo.buyInfo">
                            <td><label>Winkel:</label></td>
                            <td><label>{{book.personalBookInfo.buyInfo.shop}}</label></td>
                        </tr>
                        <tr class="buy-info-tr" ng-show="book.personalBookInfo.buyInfo">
                            <td><label>Stad winkel:</label></td>
                            <td><label>{{book.personalBookInfo.buyInfo.city}}</label></td>
                        </tr>
                        <tr class="buy-info-tr" ng-show="book.personalBookInfo.buyInfo">
                            <td><label>Reden:</label></td>
                            <td><label>{{book.personalBookInfo.buyInfo.reason}}</label></td>
                        </tr>
                        <tr class="buy-info-tr" ng-show="book.personalBookInfo.buyInfo">
                            <td><label>Land gekocht:</label></td>
                            <td><label>{{book.personalBookInfo.buyInfo.country}}</label></td>
                        </tr>

                        <!--GIFT-->
                        <tr class="gift-info-tr" ng-show="book.personalBookInfo.giftInfo">
                            <td><label>Ontvangstdatum:</label></td>
                            <td><label>{{helpers.dateToString(book.personalBookInfo.giftInfo.date)}}</label></td>
                        </tr>
                        <tr class="gift-info-tr" ng-show="book.personalBookInfo.giftInfo">
                            <td><label>Gekregen van:</label></td>
                            <td><label>{{book.personalBookInfo.giftInfo.from}}</label></td>
                        </tr>
                        <tr class="gift-info-tr" ng-show="book.personalBookInfo.giftInfo">
                            <td><label>Gelegenheid:</label></td>
                            <td><label>{{book.personalBookInfo.giftInfo.occasion}}</label></td>
                        </tr>
                        <tr class="gift-info-tr" ng-show="book.personalBookInfo.giftInfo">
                            <td><label>Reden:</label></td>
                            <td><label>{{book.personalBookInfo.giftInfo.reason}}</label></td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>

        <div class="card-row" ng-show="book.firstPrintInfo">

            <div class="book-detail-small-info-panel material-card card-column-left">
                <div class="material-card-title">Eerste druk</div>
                <div class="material-card-content">
                    <table width="100%" class="left-right-align">
                        <tr class="first-print-info-tr">
                            <td><label>Titel:</label></td>
                            <td><label id='book-detail-first-print-title'></label></td>
                        </tr>
                        <tr class="first-print-info-tr" ng-show="book.firstPrintInfo.subtitle">
                            <td><label>Ondertitel:</label></td>
                            <td><label>{{book.firstPrintInfo.subtitle}}</label></td>
                        </tr>
                        <tr class="first-print-info-tr" ng-show="book.firstPrintInfo.isbn">
                            <td><label>ISBN:</label></td>
                            <td><label>{{book.firstPrintInfo.isbn}}</label></td>
                        </tr>
                        <tr class="first-print-info-tr" ng-show="book.firstPrintInfo.country">
                            <td><label>Land:</label></td>
                            <td><label>{{book.firstPrintInfo.country}}</label></td>
                        </tr>
                        <tr class="first-print-info-tr" ng-show="book.firstPrintInfo.language">
                            <td><label>Taal:</label></td>
                            <td><label>{{book.firstPrintInfo.language}}</label></td>
                        </tr>
                        <tr class="first-print-info-tr" ng-show="book.firstPrintInfo.publisher">
                            <td><label>Uitgever:</label></td>
                            <td><label>{{book.firstPrintInfo.publisher}}</label></td>
                        </tr>
                        <tr class="first-print-info-tr" ng-show="book.firstPrintInfo.publicationDate">
                            <td><label>Publicatie datum:</label></td>
                            <td><label>{{helpers.dateToString(book.firstPrintInfo.publicationDate)}}</label></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div ng-show="book.personBookInfo.review" class="book-detail-small-info-panel material-card card-column-right">
                <div class="material-card-title">Review</div>
                <div class="material-card-content">
                    <p id="book-detail-review">{{book.personalBookInfo.review}}</p>
                </div>
            </div>
    </div>
</div>
</div>