<div class="inner-content-container">
    <errorcontainer></errorcontainer>
    <div class="container-fluid">
        <div class="col-md-6">
            <div class="form-subtitle">
                <div>Boek informatie</div>
                <!--<label class="label label-warning form-subtitle-label">{{book.genre}}</label>-->
            </div>
            <div class="form-content detail-panel">
                <dl class="dl-horizontal">
                    <dt>Titel</dt>
                    <dd>{{book.title}}</dd>
                    <dt>Ondertitel</dt>
                    <dd>{{book.subtitle}}</dd>
                    <dt>isbn</dt>
                    <dd>{{book.isbn}}</dd>
                    <dt>uitgever</dt>
                    <dd>{{book.publisher}}</dd>
                    <dt>taal</dt>
                    <dd>{{book.language}}</dd>
                    <dt>land</dt>
                    <dd>{{book.country}}</dd>
                </dl>
            </div>
        </div>

        <div class="col-md-6" ng-show="book.firstPrintInfo === undefined">
            <div class="form-subtitle">
                <div>Eerste druk informatie</div>
                <button class="btn btn-sm form-subtitle-button btn-default round-corners" ng-click="showSelectFirstPrintDialog()"><i class="fa fa-search"> Selecteer</i>
                </button>
                <button class="btn btn-sm form-subtitle-button btn-default round-corners" ng-click="createFirstPrintInfo()"><i class="fa fa-plus"> Maak aan</i>
                </button>
            </div>
            <div class="form-content detail-panel">
                <div class="alert alert-warning">Er is nog geen eerste druk informatie voor dit boek.</div>
            </div>
        </div>

        <div class="col-md-6" ng-show="book.firstPrintInfo">
            <div class="form-subtitle">
                <div>Eerste druk informatie</div>
                <button class="btn btn-sm form-subtitle-button btn-default round-corners" ng-click="showSelectFirstPrintDialog()"><i class="fa fa-search"> Selecteer</i>
                </button>
                <button class="btn btn-sm form-subtitle-button btn-default round-corners" ng-click="editFirstPrintInfo()"><i class="fa fa-pencil"> Editeer</i>
                </button>
            </div>
            <div class="form-content detail-panel">
                <dl class="dl-horizontal">
                    <dt>Titel</dt>
                    <dd>{{book.firstPrintInfo.title}}</dd>
                    <dt>Ondertitel</dt>
                    <dd>{{book.firstPrintInfo.subtitle}}</dd>
                    <dt>isbn</dt>
                    <dd>{{book.firstPrintInfo.isbn}}</dd>
                    <dt>uitgever</dt>
                    <dd>{{book.firstPrintInfo.publisher}}</dd>
                    <dt>taal</dt>
                    <dd>{{book.firstPrintInfo.language}}</dd>
                    <dt>land</dt>
                    <dd>{{book.firstPrintInfo.country}}</dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="container-fluid" ng-show="book.personalBookInfo === undefined">
        <div class="col-md-6">
            <div class="form-subtitle">
                <div>Persoonlijke informatie</div>
                <button class="btn btn-sm form-subtitle-button btn-default round-corners" ng-click="createPersonalBookInfo()"><i class="fa fa-pencil"> Persoonlijke info aanmaken</i>
                </button>
            </div>
            <div class="form-content detail-panel">
                <div class="alert alert-warning">Je hebt nog geen persoonlijke informatie voor dit boek.</div>
            </div>
        </div>
    </div>


    <div class="container-fluid" ng-show="book.personalBookInfo">
        <div class="col-md-6">
            <div class="form-subtitle">
                <div>Persoonlijke informatie</div>
                <button class="btn btn-sm form-subtitle-button btn-default round-corners" ng-click="editPersonalBookInfo()"><i class="fa fa-pencil"> Editeer</i>
                </button>
            </div>
            <div class="form-content detail-panel">
                <dl class="dl-horizontal">
                    <dt>gelezen</dt>
                    <dd><span ng-show="book.personalBookInfo.read" class="glyphicon glyphicon-ok-sign"></span></dd>
                    <dt>rating</dt>
                    <dd><uib-rating ng-model="book.personalBookInfo.rating" max="10" readonly="true" class="book-rating"></uib-rating></dd>
                    <dt>review</dt>
                    <dd>{{book.personalBookInfo.review}}</dd>
                </dl>
            </div>
        </div>

        <div class="col-md-6" ng-show="book.personalBookInfo.buyInfo">
            <div class="form-subtitle">
                <div>Koop informatie</div>
                <button class="btn btn-sm form-subtitle-button btn-default round-corners" ng-click="editPersonalBookInfo()"><i class="fa fa-pencil"> Editeer</i></button>
            </div>
            <div class="form-content detail-panel">
                <dl class="dl-horizontal">
                    <dt ng-show="book.personalBookInfo.buyInfo.buyPrice !== null">prijs</dt>
                    <dd ng-show="book.personalBookInfo.buyInfo.buyPrice !== null">{{book.personalBookInfo.buyInfo.buyPrice.currency + ' ' + book.personalBookInfo.buyInfo.buyPrice.amount}}</dd>
                    <dt>winkel</dt>
                    <dd>{{book.personalBookInfo.buyInfo.shop}}</dd>
                    <dt>reden</dt>
                    <dd>{{book.personalBookInfo.buyInfo.reason}}</dd>
                    <dt>stad</dt>
                    <dd>{{book.personalBookInfo.buyInfo.cityShop}}</dd>
                    <dt>land</dt>
                    <dd>{{book.personalBookInfo.buyInfo.countryShop}}</dd>
                </dl>
            </div>
        </div>
        <div class="col-md-6" ng-show="book.personalBookInfo.giftInfo">
            <div class="form-subtitle">
                <div>Gift informatie</div>
                <button class="btn btn-sm form-subtitle-button btn-default round-corners" ng-click="editPersonalBookInfo()"><i class="fa fa-pencil"> Wijzig</i></button>
            </div>
            <div class="form-content detail-panel">
                <dl class="dl-horizontal">
                    <dt>gekregen van</dt>
                    <dd>{{book.personalBookInfo.giftInfo.from}}</dd>
                    <dt>gelegenheid</dt>
                    <dd>{{book.personalBookInfo.giftInfo.occasion}}</dd>
                    <dt>reden</dt>
                    <dd>{{book.personalBookInfo.giftInfo.reason}}</dd>
                    <dt>datum</dt>
                    <dd ng-show="book.personalBookInfo.giftInfo.giftDate">{{convertDate(book.personalBookInfo.giftInfo.giftDate)}}</dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="col-md-6" ng-show="book.personalBookInfo">
            <div class="form-subtitle">
                <div>Lees data</div>
                <button type="button" class="btn btn-sm form-subtitle-button btn-default round-corners" ng-click="openAddReadingDateModal()"><i class="fa fa-plus"> Leesdatum toevoegen</i></button>
            </div>
            <div class="form-content detail-panel">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr style="cursor: pointer">
                        <th>datum</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="date in book.personalBookInfo.readingDates" style="cursor: pointer">
                        <td>{{ convertDate(date.date) }}</td>
                        <td><button ng-click="removeReadingDate(date)" type="button" class="btn btn-default round-corners"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-subtitle">
                <div>Auteurs</div>
                <button class="btn btn-sm form-subtitle-button btn-default round-corners" ng-click="showSelectAuthorDialog()"><i class="fa fa-plus"> Auteur toevoegen</i></button>
            </div>
            <div class="form-content detail-panel">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr style="cursor: pointer">
                        <th>Voornaam</th>
                        <th>Naam</th>
                        <th>Hoofd Auteur</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="author in book.authors" style="cursor: pointer">
                        <td>{{ author.name.firstname }}</td>
                        <td>{{ author.name.lastname }}</td>
                        <td style="text-align: center"><span style="top: 3px;" ng-show="author.preferred" class="glyphicon glyphicon-ok-sign"></span></td>
                        <td><button type="button" class="btn btn-default round-corners"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>