<div class="inner-content-container">
    <errorcontainer></errorcontainer>
    <div class="container-fluid row">
        <div class="col-md-6 detail-panel form-content">
            <img class="center-block" src-with-fallback="{{ book.image }}">
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-subtitle">
                        <div>Boek informatie</div>
                        <button class="btn btn-sm btn-default round-corners form-subtitle-button" ng-click="editBookInformation()"><i class="fa fa-pencil"> Editeer</i></button>
                    </div>
                    <div class="form-content detail-panel">
                        <dl class="dl-horizontal dl-text-align-left">
                            <dt>Titel</dt>
                            <dd id="book-title-label">{{book.title}}</dd>
                            <dt ng-show="book.subtitle">Ondertitel</dt>
                            <dd id="book-subtitle-label" ng-show="book.subtitle">{{book.subtitle}}</dd>
                            <dt>isbn</dt>
                            <dd id="book-isbn-label">{{book.isbn}}</dd>
                            <dt>uitgever</dt>
                            <dd id="book-publisher-label">{{book.publisher}}</dd>
                            <dt ng-show="book.publicationDate">Uitgave datum</dt>
                            <dd id="book-publication-date-label" ng-show="book.publicationDate">{{ convertDate(book.publicationDate) }}</dd>
                            <dt ng-show="book.language">taal</dt>
                            <dd id="book-language-label" ng-show="book.language">{{book.language}}</dd>
                            <dt ng-show="book.country">land</dt>
                            <dd id="book-country-label" ng-show="book.country">{{book.country}}</dd>
                            <dt ng-show="book.pages">Pagina's</dt>
                            <dd id="book-pages-label" ng-show="book.pages">{{book.pages}}</dd>
                            <dt ng-show="book.print">Druk</dt>
                            <dd id="book-print-label" ng-show="book.print">{{book.print}}</dd>
                            <dt ng-show="book.serie">Boeken reeks</dt>
                            <dd id="book-serie-label" ng-show="book.serie" ng-show="book.serie">{{book.serie}}</dd>
                            <dt ng-show="book.publisherSerie">Uitgever reeks</dt>
                            <dd id="book-publisher-serie-label" ng-show="book.publisherSerie">{{book.publisherSerie}}</dd>
                            <dt ng-show="book.translator">Vertaler</dt>
                            <dd id="book-translator-label" ng-show="book.translator">{{book.translator}}</dd>
                            <dt ng-show="book.retailPrice.amount">Cover prijs</dt>
                            <dd id="book-retail-price-label" ng-show="book.retailPrice.amount">{{getCurrencyViewValue(book.retailPrice.currency) + ' ' +  book.retailPrice.amount}}</dd>
                            <dt ng-show="book.tags">Tags</dt>
                            <dd id="book-tags-label" ng-show="book.tags"><label class="label label-success margin-right-10" ng-repeat="tag in book.tags">{{tag.text}}</label></dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                   <book-detail-oeuvre-items book="book"></book-detail-oeuvre-items>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid row">
        <div class="col-md-12">
            <div class="form-subtitle">
                <div>Samenvatting</div>
            </div>
            <div class="form-content detail-panel">
                <p id="book-summary-label">{{ book.summary }}</p>
            </div>
        </div>
    </div>

    <div class="container-fluid row">
        <div class="col-md-6">
           <book-detail-authors book="book"></book-detail-authors>
        </div>

        <div class="col-md-6">
            <book-detail-first-print-info book="book"></book-detail-first-print-info>
        </div>
    </div>

    <div class="container-fluid row" ng-show="book.personalBookInfo === undefined">

        <div class="col-md-12">
            <div class="form-subtitle">
                <div>Persoonlijke informatie</div>
                <button class="btn btn-sm form-subtitle-button btn-default round-corners" ng-click="createPersonalBookInfo()"><i class="fa fa-pencil"> Persoonlijke info aanmaken</i></button>
                <button id="remove-from-wishlist-button" ng-show="book.onWishlist" class="btn btn-sm form-subtitle-button btn-default round-corners" ng-click="removeFromWishlist()"><i class="fa fa-heart"> verwijder van wishlist</i></button>
                <button id="add-to-wishlist-button" ng-show="!book.onWishlist" class="btn btn-sm form-subtitle-button btn-default round-corners" ng-click="addToWishlist()"><i class="fa fa-heart"> voeg toe aan wishlist</i></button>
            </div>
            <div class="form-content detail-panel">
                <div id="on-wishlist-message" ng-show="book.onWishlist" class="alert alert-success">Dit boek staat op je wishlist.</div>
                <div class="alert alert-warning">Je hebt nog geen persoonlijke informatie voor dit boek.</div>
            </div>
        </div>

    </div>

    <div class="container-fluid row" ng-show="book.personalBookInfo">

        <div class="col-md-6">
            <div class="form-subtitle">
                <div>Persoonlijke informatie</div>
                <button class="btn btn-sm form-subtitle-button btn-default round-corners" ng-click="editPersonalBookInfo()"><i class="fa fa-pencil"> Editeer</i></button>
            </div>
            <div class="form-content detail-panel">
                <personal-book-info-detail personal-book-info="book.personalBookInfo"></personal-book-info-detail>
            </div>
        </div>
        <div class="col-md-6" ng-show="book.personalBookInfo">
            <book-detail-reading-dates book="book"></book-detail-reading-dates>
        </div>
    </div>
</div>