<div id="libraryFilterSlidingPanel" class="sliding-panel libraryFilterSlidingPanel">
    <div id="libraryFilterBookMark" class="bookMark libraryFilterBookmark">
        <img src="images/filter_icon.png" class="info-icon">
        <div class="info-icon"></div>
    </div>
    <div id="libraryFilterSlidingPanelTitle" class="slidingPanelTitle material-card-title">Filter</div>
    <div class="material-card-content">
        <table id="book-filters-table" class="book-filters-table">
            <tr>
                <td>
                    <button class="btn btn-success" id="filterButton" ng-click="filterBooks()">Filter</button>
                    <button class="btn btn-warning" id="deselect" ng-click="resetBookFilter()">Reset</button>
                    <button class="btn btn-default" id="selectFiltersButton" ng-click="showSelectFiltersDialog()">Selecteer filters</button>
                </td>
            </tr>
        </table>
        <div id="book-form-container" style="height: 300px; overflow: auto;">
                <filter-parent ng-repeat="filter in filters.selected" filter="filter" style="float: left"></filter-parent>
        </div>
    </div>
</div>