<div class="form-subtitle">
    <div>{{ 'translation.authors' | translate }}</div>
    <button class="btn btn-sm form-subtitle-button btn-default round-corners" ng-click="vm.showSelectAuthorDialog()"><i class="fa fa-plus"> {{ 'translation.add.author' | translate }}</i></button>
</div>
<div class="form-content detail-panel">
    <table class="table table-striped">
        <tbody>
        <tr ng-repeat="author in vm.book.authors">
            <td>{{ author.name.firstname + " " + author.name.lastname }}</td>

            <td class="text-align-right">
                <span ng-show="author.preferred" style="top: 3px;" class="glyphicon glyphicon-ok-sign"></span>
                <button ng-click="vm.goToEditAuthor(author);" type="button" class="btn btn-default btn-xs"><span class="fa fa-pencil"></span></button>
                <button ng-click="vm.unlinkAuthorFromBook(author);" ng-hide="author.preferred" type="button" class="btn btn-sm btn-default btn-xs"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>