<pageslide ps-open="vm.bookDetailPanelOpen" ps-class="book-detail-pageslide" ps-size="720px"
           ps-push="true" ps-key-listener="true" ps-auto-close="true">
    <div click-anywhere-but-here="closeBookDetailPanel()">
        <div ng-hide="vm.loading">
            <div class="book-detail-close">
                <div style="display: inline-block">
                    <h3 class="book-sliding-panel-title">{{vm.selectedBook.title}} <span
                            class="glyphicon glyphicon-remove-sign pull-left clickable" style="margin-right: 20px;"
                            ng-click="vm.closeBookDetailPanel()"></span></h3>
                    <h4 ng-show="vm.selectedBook.subtitle" class="§xbook-sliding-panel-title" id="book-detail-subtitle">
                        {{vm.selectedBook.subtitle}}
                    </h4>
                </div>
                <button permission="UPDATE_BOOK" ng-click="vm.goToEditBook()" class="book-detail-edit-button btn-success btn btn-sm">{{ 'translation.edit' | translate }}</button>
            </div>
        </div>

        <div ng-show="vm.loading" style="margin-top: 50%;">
            <p>Loading...</p>
        </div>

        <div ng-if="vm.selectedBook" ng-hide="vm.loading" class="book-detail-container">
            <div class="row" style="margin-top: 80px;">
                <div class="col-md-4">
                    <img class="book-sliding-panel-image" src-with-fallback="{{ vm.selectedBook.image }}"/>
                </div>
                <div class="col-md-8">
                    <div class="material-card">
                        <div class="material-card-title">Info boek</div>
                        <div class="material-card-content text-align-left">
                            <dl class="dl-horizontal dl-text-align-left">
                                <dt>ISBN</dt>
                                <dd>{{ vm.selectedBook.isbn }}</dd>
                                <dt>Uitgever</dt>
                                <dd>{{vm.selectedBook.publisher}}</dd>
                                <dt ng-show="vm.selectedBook.country">Land</dt>
                                <dd ng-show="vm.selectedBook.country">{{vm.selectedBook.country}}</dd>
                                <dt ng-show="vm.selectedBook.language">Taal</dt>
                                <dd ng-show="vm.selectedBook.language">{{vm.selectedBook.language}}</dd>
                                <dt ng-show="vm.selectedBook.publicationDate">Publicatiedatum:</dt>
                                <dd ng-show="vm.selectedBook.publicationDate"><to-date date="vm.selectedBook.publicationDate"></to-date></dd>
                                <dt ng-show="vm.selectedBook.genre">Genre:</dt>
                                <dd ng-show="vm.selectedBook.genre">{{vm.selectedBook.genre}}</dd>
                                <dt ng-show="vm.selectedBook.serie">Boekenreeks:</dt>
                                <dd ng-show="vm.selectedBook.serie">{{vm.selectedBook.serie}}</dd>
                                <dt ng-show="vm.selectedBook.publisherSerie">Uitgeverreeks:</dt>
                                <dd ng-show="vm.selectedBook.publisherSerie">{{vm.selectedBook.publisherSerie}}</dd>
                                <dt ng-show="vm.selectedBook.retailPrice">Cover prijs: </dt>
                                <dd ng-show="vm.selectedBook.retailPrice">{{ vm.getCurrencyViewValue(vm.selectedBook.retailPrice.currency) }} {{ vm.selectedBook.retailPrice.amount | numberFormatFilter}}</dd>
                                <dt ng-show="vm.selectedBook.pages">Pagina's:</dt>
                                <dd ng-show="vm.selectedBook.pages">{{vm.selectedBook.pages}}</dd>
                                <dt ng-show="vm.selectedBook.print">Druk:</dt>
                                <dd ng-show="vm.selectedBook.print">{{vm.selectedBook.print}}</dd>
                                <dt ng-show="vm.selectedBook.translator">Vertaler:</dt>
                                <dd ng-show="vm.selectedBook.translator">{{vm.selectedBook.translator}}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" ng-show="vm.selectedBook.summary">
                <div class="col-md-12">
                    <div class="material-card">
                        <div class="material-card-title">Samenvatting</div>
                        <div class="material-card-content text-align-left">
                            <p>{{ vm.selectedBook.summary }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 20px">
                <div class="col-md-4">
                    <div class="material-card">
                        <div class="material-card-title">Auteurs</div>
                        <div class="material-card-content">
                            <div class="text-align-left" ng-repeat="author in vm.selectedBook.authors">{{ author.name.firstname + " " + author.name.lastname }}</div>
                        </div>
                    </div>
                </div>

                <div ng-show="vm.selectedBook.personalBookInfo" class="col-md-8">
                    <div class="material-card">
                        <div class="material-card-title">Persoonlijk</div>
                        <div class="material-card-content">
                            <personal-book-info-detail personal-book-info="vm.selectedBook.personalBookInfo"></personal-book-info-detail>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-bottom: 50px" ng-show="vm.selectedBook.personalBookInfo && vm.selectedBook.personalBookInfo.readingDates.length > 0">
                <div class="col-md-12">
                    <div class="material-card">
                        <div class="material-card-title">Lees data</div>
                        <div class="material-card-content">
                            <table class="table" width="100%" style="table-layout: fixed">
                                <tbody style="text-align: left;">
                                <tr ng-repeat="readingDate in vm.selectedBook.personalBookInfo.readingDates">
                                    <td style="border: none; width: 110px; vertical-align: top"><to-date date="readingDate.date"></to-date></td>
                                    <td style="border: none; vertical-align: top">
                                        <uib-rating ng-model="readingDate.rating" max="10" readonly="true" class="book-rating"></uib-rating>
                                    </td>
                                    <td style="border: none; word-wrap: break-word">{{ readingDate.review }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</pageslide>