<div id="libraryInformationSlidingPanel" class="sliding-panel libraryInformationSlidingPanel">
    <div id="libraryInformationBookMark" class="bookMark libraryInformationBookmark">
        <div class="info-icon"></div>
        <img src="images/info_icon.png" class="info-icon">
    </div>
    <div id="libraryInformationSlidingPanelTitle" class="slidingPanelTitle material-card-title">Informatie collectie</div>
    <div class="material-card-content">
        <div class="row">
            <label class="control-label col-md-6">Aantal boeken:</label>
            <label class="control-label col-md-4">{{ information.total_amount_books }}</label>
        </div>
        <div class="row">
            <label class="control-label col-md-6">Aantal boeken in bezit:</label>
            <label class="control-label col-md-4">{{ information.total_amount_books_owned }}</label>
        </div>
        <div class="row">
            <label class="control-label col-md-6">Waarde bibliotheek:</label>
            <label class="control-label col-md-4">{{ information.total_value }}</label>
        </div>
    </div>
</div>