<div>
    <div class="modal-header">
        <h3 class="modal-title">Boek selectie</h3>
    </div>
    <div class="modal-body" ng-controller="BookSelectionController">
        <div class="input-group" style="width: 200px; float: right">
            <input id="searchBooksInput" ng-model="searchBooksQuery" type="text"
                   class="form-control half-round-corners-left" placeholder="Search" name="criteria"
                   aria-describedby="basic-addon1">
            <span class="input-group-addon glyphicon glyphicon-search" id="basic-addon1"></span>
        </div>
        <div class="overflow-auto" style="max-height: 400px; width: 100%;">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Naam</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="book in data.books | filter: search" ng-click="selectBook(book)" style="cursor: pointer">
                    <td>{{ book.title }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" ng-click="$dismiss()">Annuleer</button>
    </div>
</div>