<div class="{{ getColumnClass() }}">
    <div class="panel panel-default">
        <div class="panel-heading">{{ chartData.title }} <button ng-click="editChart()" class="float-right btn btn-sm btn-default">Wijzig</button></div>
        <div class="panel-body">
            <div class="chart-container">
                <canvas id="bar" class="chart chart-bar"
                        chart-data="chartData.data" chart-labels="chartData.labels"></canvas>
            </div>
        </div>
    </div>
</div>