<!-- JCAPSLIDE -->
<script type="text/javascript" src="assets/lib/jCapSlide/jquery.capSlide.js"></script>
<link href="assets/lib/jCapSlide/css/style.css">

<script type="text/javascript">
    var book_id = "";
    var scroll_id = "";
</script>
<script type="text/javascript" src="assets/js/book/bookSlidingPanel.js"></script>
<script type="text/javascript" src="assets/js/book/books.js"></script>
<script type="text/javascript" src="assets/js/filter_dropdown.js"></script>
<script type="text/javascript" src="assets/js/books/search_books.js"></script>

<div class="books-container">
    <div class="contentPanel">

        <div class="top-book-panel">
            <div id="orderByDropdown" class="dropdown" style="float: left">
                <label>Sorteer op:  </label>
                <button class="btn btn-default dropdown-toggle" type="button" id="orderByDropDownButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span id="orderByDropdownButtonLabel">Auteur</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="orderByDropDownButton">
                    <li ng-repeat="orderBy in orderValues"><a value="{{orderBy.value}}" href="#/books">{{orderBy.key}}</a></li>
                </ul>
                <input id="orderby-input" hidden value="author"/>
            </div>

            <div class="input-group" style="width: 200px; float: right">
                <input id="searchBooksInput" ng-model="searchBooksQuery" type="text" class="form-control half-round-corners-left" placeholder="Search" name="criteria" aria-describedby="basic-addon1">
                <span class="input-group-addon glyphicon glyphicon-search" id="basic-addon1"></span>
            </div>
        </div>

        <div class="book-panel">
            <book-card ng-repeat="book in books | filter: search" book="book"></book-card>
        </div>

    </div>

    <book-detail book-detail-panel-open="bookModel.bookDetailPanelOpen"></book-detail>
    <book-filter-sliding-panel></book-filter-sliding-panel>
    <!--@include('book/bookSlidingPanel')-->
    <!--@include('library/libraryInformationSlidingPanel')-->
    <!--@include('library/libraryFilterSlidingPanel')-->
</div>