<!-- JCAPSLIDE -->
<script type="text/javascript" src="assets/lib/jCapSlide/jquery.capSlide.js"></script>
<link href="assets/lib/jCapSlide/css/style.css">

<script type="text/javascript">
    var book_id = "";
    var scroll_id = "";
</script>

<div class="books-container">
    <div class="contentPanel">

        <errorcontainer></errorcontainer>


        <div class="top-book-panel">
            <filters-directive all-filters="filters.all" selected-filters="filters.selected" on-filter="filterBooks(selectedFilters)"></filters-directive>
            <div class="checkbox" style="float: right; clear: both">
                <label>
                    <input type="checkbox" ng-model="showAllBooks" ng-change="doFilterBooks()"> Toon alle boeken
                </label>
            </div>

            <div style="clear: both">
                <div class="input-group" style="width: 200px; float: right">
                    <input id="searchBooksInput" ng-model="searchBooksQuery" type="text" class="form-control half-round-corners-left" placeholder="Search" name="criteria" aria-describedby="basic-addon1">
                    <span class="input-group-addon glyphicon glyphicon-search" id="basic-addon1"></span>
                </div>
            </div>
        </div>

        <sort-header sort-options="orderValues" current-predicate="predicate" reverse-order="reverseOrder"></sort-header>
        <div class="book-panel">
            <img src="/BiblioMania/images/ajax-loader.gif" ng-show="loading">
            <book-card ng-show="!loading" ng-repeat="book in books | filter: search | orderBy:predicate:reverseOrder" book="book"></book-card>
        </div>

    </div>

    <book-detail book-detail-panel-open="bookModel.bookDetailPanelOpen"></book-detail>
    <library-information-sliding-panel information="libraryInformation"></library-information-sliding-panel>
    <book-filter-sliding-panel></book-filter-sliding-panel>
</div>