<div id="confirmation-modal">
    <div class="modal-header">
        <h3 class="modal-title">Ben je zeker?</h3>
    </div>
    <div class="modal-body" style="overflow: auto; max-height: 400px;">
        <div>
            <p id="confirmation-modal-message">{{ message }}</p>
        </div>
    </div>
    <div class="modal-footer">
        <button id="confirmation-modal-yes-button" class="btn btn-primary" ng-click="$close()">Ja</button>
        <button id="confirmation-modal-no-button" class="btn btn-danger" type="button" ng-click="$dismiss()">Nee</button>
    </div>
</div>